:root {
	--header-border-color: hsl(0,0%,85%);
	--element-border-color: hsl(0,0%,90%);
	--element-background-color: white;
	--replies-lang-string: " replies";
	--topics-lang-string: " topics";
	--likes-lang-string: " likes";
	--primary-link-color: hsl(0,0%,40%);
	--primary-text-color: hsl(0,0%,20%);
	--lightened-primary-text-color: hsl(0,0%,30%);
	--extra-lightened-primary-text-color: hsl(0,0%,40%);
	--inverse-primary-text-color: white;
	--light-text-color: hsl(0,0%,55%);
	--lighter-text-color: hsl(0,0%,65%);
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../font-awesome-4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../font-awesome-4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../font-awesome-4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../font-awesome-4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../font-awesome-4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../font-awesome-4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font-size: 16px;
	font-family: arial;
	margin: 0px;
	color: var(--primary-text-color);
}

a {
	text-decoration: none;
	color: var(--primary-link-color);
}

#back {
	padding: 8px;
	padding-top: 14px;
	display: flex;
	/*background-color: hsl(0,0%,97%);*/
	padding-left: 0px;
	padding-right: 0px;
}

#main {
	width: 100%;
	padding-left: 8px;
	padding-right: 8px;
}
.sidebar {
	width: 200px;
	display: none;
}
.nav {
	border-bottom: 1px solid var(--header-border-color);
}

li {
	margin-right: 12px;
}
.menu_left:not(:last-child):after, .menu_alerts:after {
	content: "";
	margin-left: 11px;
	width: 1px;
	display: inline-block;
	height: 15px;
	position: relative;
	top: 2px;
	border-right: 1px solid var(--header-border-color);
}

.menu_overview {
	font-size: 22px;
	margin-right: 12px;
	letter-spacing: 1px;
}
.menu_left.menu_overview:after {
	margin-right: 5px !important;
	height: 20px !important;
}

.menu_forums a:before, .menu_topics a:before, .alert_bell:before, .menu_account a:before, .menu_profile a:before, .menu_panel a:before, .menu_logout a:before {
	font: normal normal normal 14px/1 FontAwesome;
}

.menu_forums a:before {
    content: "\f03a";
    margin-right: 6px;
}
.menu_topics a:before {
    margin-right: 4px;
    content: "\f27b";
    position: relative;
    top: -2px;
}
.menu_alerts {
	color: var(--primary-link-color);
	display: flex;
}
.alert_bell:before {
    content: "\f01c";
}
.menu_alerts:not(.has_alerts) .alert_counter {
	display: none;
}
.alert_counter {
	width: 4px;
	height: 4px;
	overflow: hidden;
	background-color: red;
	opacity: 0.7;
	border-radius: 30px;
	position: relative;
	top: 2px;
	left: -1px;
}
.alert_aftercounter:before {
	content: "Alerts";
	margin-left: 4px;
}

.menu_account a:before {
    content: "\f2c3";
    margin-right: 6px;
}
.menu_profile a:before {
    content: "\f2c0";
    margin-right: 5px;
    position: relative;
    top: -1px;
    font-size: 14px;
}
.menu_panel a:before {
    margin-right: 6px;
    content: "\f108";
}
.menu_logout a:before {
    content: "\f08b";
    margin-right: 3px;
}

ul {
	display: flex;
	list-style-type: none;
	padding: 0px;
	margin-left: 14px;
	margin-bottom: 12px;
}
.alertList {
	display: none;
}

.rowblock, .colstack_item {
	margin-bottom: 12px;
	border: 1px solid var(--header-border-color);
	border-bottom: 2px solid var(--header-border-color);
	background-color: var(--element-background-color);
	margin-left: 12px;
	margin-right: 12px;
}

.rowhead, .opthead, .colstack_head {
	padding: 13px;
	padding-top: 14px;
	padding-bottom: 14px;
}
.rowhead h1, .opthead h1, .colstack_head h1 {
	font-size: 20px;
	font-weight: normal;
	color: var(--primary-text-color);
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	display: inline-block;
}

.extra_little_row_avatar {
	height: 38px;
	width: 38px;
	margin-right: 8px;
}
.little_row_avatar {
	height: 48px;
	width: 48px;
}
.extra_little_row_avatar, .little_row_avatar {
	border-radius: 30px;
}

.auto_hide, .show_on_edit {
	display: none;
}
.mod_floater {
	position: fixed;
	bottom: 15px;
	right: 15px;
	background-color: var(--inverse-primary-text-color);
	width: 200px;
	height: 115px;
	border: 1px solid var(--header-border-color);
	border-bottom: 2px solid var(--header-border-color);
	z-index: 9999;
	animation: fadein 0.8s;
}
.mod_floater_head {
	display: flex;
	border-bottom: 1px solid var(--element-border-color);
	margin-left: 16px;
	margin-right: 16px;
	margin-bottom: 10px;
}
.mod_floater_head span {
	color: hsl(0,0%,55%);
	font-size: 14px;
	padding-top: 12px;
	padding-bottom: 12px;
}
.mod_floater_body {
	display: flex;
}
.mod_floater_body select {
	margin-left: auto;
	border: none;
	border-bottom: 1px solid var(--header-border-color);
	outline: none;
}
.mod_floater_body button {
	margin-left: 10px;
	margin-right: auto;
	border: none;
	outline: none;
	padding-left: 10px;
	background: hsl(9, 97%, 56%);
	border-radius: 2px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	color: var(--inverse-primary-text-color);
	font-size: 13px;
	font-weight: bold;
	margin-top: -2px;
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

.topic_list_title_block {
	display: flex;
}
.topic_list_title_block .pre_opt {
	border-left: 1px solid var(--element-border-color);
	padding-left: 12px;
	height: 20px;
	color: var(--light-text-color);
    margin-right: 10px;
}
.topic_list_title_block .pre_opt:before {
	content: "Click the topics to select them";
	font-size: 14px;
}
.topic_list_title, .forum_title {
	margin-right: auto;
}

.mod_opt .moderate_link {
	border-left: 1px solid var(--element-border-color);
	padding-left: 12px;
	height: 20px;
	color: hsl(0,0%,65%);
}
.mod_opt .moderate_link:hover {
	color: var(--light-text-color);
}
.mod_opt .moderate_link:before {
	content: "\f0e3";
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 18px;
}

.topic_create_form {
	display: flex !important;
	padding-bottom: 12px;
}
.topic_create_form .main_form {
	width: 100%;
	margin-right: 25px;
}
.topic_create_form.selectedInput .main_form {
	margin-right: 50px;
	margin-left: 18px;
}
.topic_create_form .topic_meta {
	display: flex;
}

.topic_create_form img {
	display: inline-block;
	margin-top: 12px;
	margin-left: 8px;
}
.topic_board_row, .topic_create_form .quick_button_row {
	display: none;
}
.topic_name_row {
	margin-top: 20px;
	margin-left: 12px;
	width: 100%;
}
#forum_topic_create_form.selectedInput .topic_name_row {
	margin-left: 20px;
}
.topic_content_row {
	display: none;
	margin-left: 12px;
	width: 100%;
	min-width: 0;
}
.selectedInput .topic_board_row {
	display: inline-block;
	margin-top: 16px;
	margin-left: 12px;
}
.selectedInput .topic_name_row {
	margin-top: 16px;
	margin-bottom: 8px;
	margin-left: 8px;
}
.selectedInput .topic_content_row {
	display: inline-block;
}
.topic_create_form.selectedInput .quick_button_row {
	display: inline-block;
	width: 100%;
}

.topic_board_row select {
	height: 27px;
	width: 100px;
	margin-left: 10px;
	border: none;
	border-bottom: 1px solid var(--header-border-color);
	outline: none;
}
.topic_name_row input {
	width: 100%;
	border: none;
	border-bottom: 1px solid var(--header-border-color);
	display: inline-block;
	padding-left: 8px;
	outline: none;
}
.topic_content_row textarea {
	min-height: 80px;
	width: 100%;
}

.quick_button_row .formitem {
	display: flex;
	margin-left: 2px;
}
.quick_button_row button, .quick_button_row label {
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	color: var(--inverse-primary-text-color);
	font-size: 13px;
	font-weight: bold;
	margin-top: 8px;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
	outline: none;
	background: hsl(209, 97%, 56%);
	border-radius: 2px;
}
.quick_button_row .add_file_button {
	background: hsl(129, 57%, 56%);
}
.quick_button_row .close_form {
	background: hsl(9, 0%, 56%);
}

.quick_button_row #upload_file_dock {
	display: flex;
}
label.uploadItem {
	background-size: 25px 30px;
	background-repeat: no-repeat;
	padding-left: 33px;
}

select, input, textarea {
	border: 1px solid var(--header-border-color);
	padding: 5px;
	color: hsl(0,0%,30%);
}

.topic_reply_container {
	display: flex;
	border: 0;
}
.topic_reply_form {
	margin: 0px;
	width: 100%;
	height: min-content;
}
.topic_reply_form .trumbowyg-button-pane:after {
	display: none;
}
.topic_reply_form .trumbowyg-box {
	min-height: auto;
}
.topic_reply_form .trumbowyg-editor {
	border-left: none;
	border-right: none;
	min-height: 103px;
	max-height: 200px;
	overflow-y: scroll;
}
.topic_reply_form .quick_button_row {
	margin-bottom: 7px;
}

#prevFloat, #nextFloat {
	display: none;
}

.topic_list {
	border: none;
}
.topic_list .topic_row {
	display: flex;
	flex-wrap: wrap;
}
#forum_topic_list .topic_inner_left .starter {
	display: inline-block;
	width: 200px;
}

.topic_left, .topic_right {
    margin-bottom: 8px;
    padding: 4px;
	display: flex;
    border: 1px solid var(--element-border-color);
    border-bottom: 2px solid var(--element-border-color);
}

.topic_list .rowtopic {
	font-size: 17px;
	margin-right: 1px;
	white-space: nowrap;
	display: inline-block;
}
.topic_list .rowtopic span {
	max-width: 112px;
	overflow: hidden;
	color: var(--primary-text-color);
}

.topic_list .rowsmall {
	font-size: 15px;
}

.topic_list .rowsmall.starter:before {
	content: "\f007";
	font: normal normal normal 14px/1 FontAwesome;
	margin-right: 5px;
	font-size: 15px;
}

.topic_list .rowsmall.starter:before {
	content: "\f007";
	font: normal normal normal 14px/1 FontAwesome;
	margin-right: 5px;
	font-size: 15px;
}

.topic_list .lastReplyAt {
	font-size: 14px;
}

.topic_list .topic_status_e {
	display: none;
}

.topic_left {
	flex: 1 1 calc(100% - 380px);
	border-right: none;
}

.topic_inner_right {
	margin-left: 15%;
	margin-right: auto;
    font-size: 17px;
}

.rowsmall {
	font-size: 14px;
}
.topic_inner_right.rowsmall {
	margin-top: 15px;
}

/* Experimenting here */
.topic_inner_right {
	margin-top: 12px;
}

.topic_inner_right span {
	/*font-size: 15px;*/
	font-size: 16px;
}

.topic_inner_right span:after {
	font-size: 13.5px;
}
/* End Experiment */

.topic_inner_right .replyCount:after {
	content: var(--replies-lang-string);
	color: var(--lightened-primary-text-color);
}

.topic_inner_right .topicCount:after {
	content: var(--topics-lang-string);
	color: var(--lightened-primary-text-color);
}

.topic_inner_right .likeCount:after {
	content: var(--likes-lang-string);
	color: var(--lightened-primary-text-color);
}

.parent_forum {
	color: var(--lightened-primary-text-color);
}

.topic_right {
	flex: 1 1 0px; /*150px*/
	border-left: none;
}

.topic_left img {
	border-radius: 30px;
	height: 48px;
	width: 48px;
	margin-top: 8px;
	margin-left: 4px;
}

.topic_right img {
	border-radius: 30px;
	height: 42px;
	width: 42px;
	margin-top: 10px;
}

.topic_left .topic_inner_left {
	margin-top: 12px;
	margin-left: 8px;
	margin-bottom: 14px;
	width: 240px;
}

.topic_right > span {
	margin-top: 12px;
	margin-left: 8px;
}

.topic_sticky {
	border-bottom: 2px solid hsl(51, 60%, 70%);
}
.topic_selected .topic_left, .topic_selected .topic_right {
	background-color: hsl(81, 60%, 95%);
}

@element .topic_left .rowtopic and (min-width: 110px) {
	$this, $this span, $this + .parent_forum {
		float: left;
	}
	$this + .parent_forum {
		margin: 2px;
		margin-left: 3px;
	}
	$this:after {
		content: "...";
		float: left;
	}
}

.forum_list, .post_container {
	border: none;
}
.forum_list .rowitem {
	display: flex;
	margin-bottom: 8px;
	border: 1px solid var(--element-border-color);
	border-bottom: 2px solid var(--element-border-color);
	padding: 14px;
}
.forum_right {
	display: flex;
}
.forum_right span {
	margin-top: 1px;
}
.shift_right {
	margin-left: auto;
	margin-right: 8px;
}

.post_item {
	display: flex;
	margin-bottom: 16px;
}
.userinfo, .content_container {
	border: 1px solid var(--element-border-color);
	border-bottom: 2px solid var(--element-border-color);
}
.userinfo {
	margin-right: 16px;
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	padding-left: 42px;
	padding-right: 42px;
	padding-bottom: 18px;
	height: min-content;
	/*overflow: hidden;
	text-overflow: ellipsis;*/
}
.content_container {
	width: 100%;
	padding: 17px;
	display: flex;
	flex-direction: column;
}
.avatar_item {
	border-radius: 50px;
	width: 84px;
	height: 84px;
	margin-bottom: 12px;
	background-size: 120px;
}
.the_name, .userinfo .tag_block {
	margin-left: auto;
	margin-right: auto;
}
.the_name {
	font-size: 18px;
	color: var(--lightened-primary-text-color);
}
.userinfo .tag_block {
	color: var(--extra-lightened-primary-text-color);
}
.button_container {
	margin-top: auto;
	display: flex;
}
.action_button {
	margin-right: 5px;
	color: var(--light-text-color);
	font-size: 14px;
	display: inline-block;
}
.action_button_right {
	display: inline-flex;
	margin-left: auto;
}
.like_count:after {
	content: " likes";
	margin-right: 6px;
}

.post_item .add_like:after, .created_at:before, .ip_item:before {
	border-left: 1px solid var(--element-border-color);
	content: "";
	margin-top: 1px;
	margin-bottom: 1px;
}
.created_at:before, .ip_item:before {
	margin-right: 10px;
}
.post_item .add_like:after {
	margin-left: 10px;
	margin-right: 5px;
}

.created_at {
	margin-right: 10px;
}

#profile_container, #profile_left_pane .topBlock {
	display: flex;
}
#profile_left_lane {
	margin-left: 8px;
	margin-right: 16px;
}
#profile_left_pane .topBlock {
	flex-direction: column;
	padding-bottom: 18px;
	border: 1px solid var(--element-border-color);
	border-bottom: 2px solid var(--element-border-color);
}
#profile_left_pane .avatarRow {
	padding: 24px;
	padding-bottom: 8px;
}
#profile_left_pane .avatar {
	border-radius: 80px;
}
#profile_left_pane .nameRow {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}
#profile_left_pane .nameRow .username {
	text-align: center;
}
#profile_left_pane .profileName {
	font-size: 19px;
}
#profile_left_pane .passiveBlock .passive {
	border: 1px solid var(--element-border-color);
	border-bottom: 2px solid var(--element-border-color);
	margin-top: 6px;
	padding: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#profile_right_lane {
	width: 100%;
	margin-right: 12px;
}
#profile_right_lane .colstack_item {
	border: 1px solid var(--element-border-color);
	border-bottom: 2px solid var(--element-border-color);
}

.footer {
	border-top: 1px solid var(--element-border-color);
	padding: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 14px;
	margin-left: -8px;
	margin-right: -8px;
}
.footer #poweredBy {
	font-size: 17px;
}
.footer #poweredBy span {
	font-size: 16px;
}

@media(max-width: 670px) {
	.topic_inner_right {
		display: none;
	}
}