#back {
	padding-top: 0px;
}
#main {
	padding-left: 0px;
}
.colstack_left {
	background-color: hsl(0,0%,90%);
	margin-top: -0.5px;
	border-right: 1px solid var(--element-border-color);
}
.colstack_left .colstack_head {
	margin-top: -1px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-bottom: 12px;
    padding-top: 12px;
    border-bottom: 1.5px solid var(--element-border-color);
}
.colstack_left .rowmenu .passive:first-child {
    border-top: none;
}
.colstack_left .rowmenu .passive:last-child {
    border-bottom: 0.5px solid var(--element-border-color) !important;
}
.submenu {
	margin-left: 12px;
}
.submenu_fallback {
	display: none;
}
.colstack_right {
	margin-right: 14px;
	margin-top: 14px;
	margin-bottom: 14px;
}
.footer {
	margin-top: 0px;
}

.complex_rowlist {
	background-color: inherit !important;
	border: none !important;
}
.complex_rowlist .rowitem {
	display: flex;
}

.panel_buttons, .panel_floater {
	margin-left: auto;
	display: flex;
}
.panel_buttons:before,
.panel_floater:before,
.edit_button:after,
.delete_button:after {
	color: hsl(0,0%,65%);
}
.panel_buttons:before,
.panel_floater:before {
	content: "";
	border-left: 1px solid var(--element-border-color);
	height: 15px;
	margin-top: 2px;
	margin-bottom: 0px;
	margin-right: 0px;
}
.edit_button:after, .delete_button:after {
	font: normal normal normal 14px/1 FontAwesome;
    padding-left: 12px;
    height: 20px;
}
.edit_button:after {
	content: "\f040";
}
.delete_button:after {
	content: "\f014";
}

#panel_users .panel_floater:before,
#panel_forums .panel_floater:before,
#forum_quick_perms .panel_floater:before,
.panel_themes .panel_floater:before,
#panel_backups .panel_floater:before {
	border-left: none;
}
#panel_forums_name_box {
	order: 0;
}

#panel_users .panel_tag:not(.panel_right_button) {
	display: none;
}
.panel_right_button + .panel_right_button {
	margin-left: 3px;
}

.panel_group_perms .formitem a {
	margin-top: 5px;
}

#panel_word_filters .itemSeparator:before {
	content: "|";
	padding-left: 5px;
	padding-right: 5px;
	color: var(--primary-link-color);
}

/* TODO: Should we be using .formrows in #forum_quick_perms? Can we normalize it? Would this break the other themes? */
.formlist:not(#forum_quick_perms),
.panel_themes .rowitem,
#panel_plugins .rowitem,
#forum_quick_perms .formitem {
	padding: 12px;
	margin-bottom: 8px;
	background-color: var(--element-background-color);
	border: 1px solid var(--element-border-color);
	border-bottom: 2px solid var(--element-border-color);
}
.formlist .formrow {
	padding: 0px !important;
	margin: 0px;
}
.formlist .formitem {
	padding: 8px;
}
.panel_theme_mobile, .panel_theme_tag {
	display: none;
}
#panel_plugins .rowitem {
	display: block;
}

#panel_users .rowitem .rowTitle {
	border-bottom: 1px solid var(--lighter-text-color);
	padding-bottom: 4px;
	margin-bottom: 4px;
}

#forum_quick_perms .formitem {
	display: flex;
}
#forum_quick_perms .formitem .edit_fields {
	margin-left: 3px;
	margin-top: 1px;
}
.perm_preset_no_access:before {
	content: "No Access";
	color: hsl(0,100%,20%);
}
.perm_preset_read_only:before, .perm_preset_can_post:before {
	color: hsl(120,100%,20%);
}
.perm_preset_read_only:before {
	content: "Read Only";
}
.perm_preset_can_post:before {
	content: "Can Post";
}
.perm_preset_can_moderate:before {
	content: "Can Moderate";
	color: hsl(240,100%,20%);
}
.perm_preset_custom:before {
	content: "Custom";
	color: hsl(0,0%,20%);
}
.perm_preset_default:before {
	content: "Default";
}

.colstack_graph_holder {
	background-color: var(--element-background-color);
	border: 1px solid var(--element-border-color);
	border-bottom: 2px solid var(--element-border-color);
	margin-left: 16px;
	padding-top: 16px;
}
.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: hsl(359,98%,53%) !important;
}
.ct-point {
	stroke: hsl(359,98%,23%) !important;
}
.ct-point:hover {
	stroke: hsl(359,98%,30%) !important;
}
.timeRangeSelector {
	margin-top: -5px;
}

/* Experimental header tweaks */
.colstack_head a {
    font-size: 17px;
}
/*
#panel_analytics_views_table .rowlist .panel_compactrow {
    padding: 14px;
    font-size: 16px;
}
*/

.pageset {
	margin-left: 16px;
}