.sidebar {
	display: none;
}
/*.submenu {
	padding-left: 18px;
}*/
.submenu:before {
	content:"–";
	margin-right: 8px;
}

#panel_dashboard_right .colstack_head {
	display: none;
}

.edit_button:before {
	content: "{{index .Phrases "panel_edit_button_text"}}";
}
.delete_button:after {
	content: "{{index .Phrases "panel_delete_button_text"}}";
}

.panel_upshift:visited {
	color: black;
}

.panel_tag {
	padding-left: 0px;
	padding-right: 0px;
	border: none;
	background: none;
	color: #202020;
	font-size: 14px;
}
.tag-mini {
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;

	color: black;
	font-size: 13px;
}

.panel_floater, .panel_buttons {
	margin-left: auto;
	float: right;
}
#panel_groups > .rowitem > .panel_floater {
	float: none;
}
#panel_groups > .rowitem > .panel_floater > .panel_right_button {
	float: right;
}
#panel_forums .rowitem {
	display: flex;
}
#panel_forums > .rowitem > .panel_floater {
	margin-left: 0px;
}
#panel_forums > .rowitem > span > .forum_name {
	margin-right: 4px;
}
#panel_forum_quick_perms > .formrow > .formitem > a {
	margin-right: 4px;
}

/* Quick fix, need to properly patch this */
.forum_active > select {
	margin-bottom: 3px
}

.panel_rank_tag, .forum_preset, .forum_active {
	float: none;
	color: #202020 !important;
	font-size: 11px;
}
.panel_rank_tag_admin:before { content: "{{index .Phrases "panel_rank_admins"}}"; }
.panel_rank_tag_mod:before { content: "{{index .Phrases "panel_rank_mods"}}"; }
.panel_rank_tag_banned:before { content: "{{index .Phrases "panel_rank_banned"}}"; }
.panel_rank_tag_guest:before { content: "{{index .Phrases "panel_rank_guests"}}"; }
.panel_rank_tag_member:before { content: "{{index .Phrases "panel_rank_members"}}"; }

.forum_preset_announce:after { content: "{{index .Phrases "panel_preset_announcements"}}"; }
.forum_preset_members:after { content: "{{index .Phrases "panel_preset_member_only"}}"; }
.forum_preset_staff:after { content: "{{index .Phrases "panel_preset_staff_only"}}"; }
.forum_preset_admins:after { content: "{{index .Phrases "panel_preset_admin_only"}}"; }
.forum_preset_archive:after { content: "{{index .Phrases "panel_preset_archive"}}"; }
.forum_preset_all:after { content: "{{index .Phrases "panel_preset_public"}}"; }
.forum_preset_custom, .forum_preset_ { display: none !important; }
.forum_active_Hide:before { content: "{{index .Phrases "panel_active_hidden"}}"; }
.forum_active_Hide + .forum_preset:before { content: " | "; }
.forum_active_Show { display: none !important; }
.forum_active_name { color: #707070; }
.builtin_forum_divider { border-bottom-style: solid; }

.perm_preset_no_access:before { content: "{{index .Phrases "panel_perms_no_access" }}"; color: maroon; }
.perm_preset_read_only:before { content: "{{index .Phrases "panel_perms_read_only" }}"; color: green; }
.perm_preset_can_post:before { content: "{{index .Phrases "panel_perms_can_post" }}"; color: green; }
.perm_preset_can_moderate:before { content: "{{index .Phrases "panel_perms_can_moderate" }}"; color: darkblue; }
.perm_preset_custom:before { content: "{{index .Phrases "panel_perms_custom" }}"; color: black; }
.perm_preset_default:before { content: "{{index .Phrases "panel_perms_default" }}"; }

.theme_row > .panel_floater > .panel_right_button { margin-left: 5px; }

#panel_word_filters .itemSeparator:before {
	content: " || ";
	padding-left: 2px;
	padding-right: 2px;
}
.panel_submitrow {
	margin-top: -12px;
	border-top: none;
}
.panel_submitrow button {
	padding-top: 3px;
	padding-bottom: 3px;
}

.ct_chart {
	padding-left: 10px;
    padding-top: 18px;
    padding-bottom: 2px;
    padding-right: 10px;
	margin-bottom: 12px;

	background-color: white;
	border: 1px solid var(--main-border-color);
	border-bottom: 1.5px inset var(--main-border-color);
}

@media(max-width: 1300px) {
	.theme_row { background-image: none !important; }
}
