tmp/*
!tmp/filler.txt
tmp2/*
cert_test/*
tmp.txt
run_notemplategen.bat
brun.bat

attachs/*
!attachs/filler.txt
uploads/avatar_*
uploads/socialgroup_*
backups/*.sql
logs/*.log
config/config.json
node_modules/*
samples/vue/node_modules/*
samples/vue/*
bin/*
out/*
*.exe
*.exe~
*.prof
*.log
.DS_Store
.vscode/launch.json
config/config.go
QueryGen
RouterGen
Patcher
Gosora
Installer
tmpl_*.go
tmpl_*.jgo