# An example systemd service file
[Unit]
Description=Gosora

[Service]
Type=simple
# You might want to create a user / group for Gosora and set these to further harden your system, although this this might not work right now, if we're listening directly on port 80 / 443
#User=gosoraservice
#Group=gosoraservice

Restart=on-failure
RestartSec=10
# Set these to the location of Gosora
WorkingDirectory=/home/gosora
# Make sure you manually run pre-run-linux before you start the service
ExecStart=/home/gosora/Gosora

# Let's hope this doesn't blow up on me
ProtectSystem=full

[Install]
WantedBy=multi-user.target