# An example systemd service file
[Unit]
Description=Gosora

[Service]
User=gosora
Group=www-data

Restart=on-failure
RestartSec=10
# Set these to the location of Gosora
WorkingDirectory=/home/gosora/src
AmbientCapabilities=CAP_NET_BIND_SERVICE
# Make sure you manually run pre-run-linux before you start the service
ExecStart=/home/gosora/src/Gosora

ProtectSystem=full
PrivateDevices=true

[Install]
WantedBy=multi-user.target