{{template "header.html" . }}
<div class="alert_success">Your data was successfully updated</div>
<div class="colblock_left">
	<div class="rowitem"><a>My Account</a></div>
	<div class="rowitem passive"><a href="/user/edit/avatar/">Edit Avatar</a></div>
	<div class="rowitem passive"><a href="/user/edit/critical/">Edit Password</a></div>
	<div class="rowitem passive"><a>Coming Soon</a></div>
	<div class="rowitem passive"><a>Coming Soon</a></div>
	<div class="rowitem passive"><a>Coming Soon</a></div>
</div>
<div class="colblock_right">
	<div class="rowitem"><a>Edit Avatar</a></div>
</div>
{{ if .CurrentUser.HasAvatar }}
<div class="colblock_right">
	<div class="rowitem"><img src="{{.CurrentUser.Avatar}}" height="128px" max-width="128px" /></div>
</div>
{{end}}
<div class="colblock_right">
	<form action="/user/edit/avatar/submit/" method="post" enctype="multipart/form-data">
		<div class="formrow">
			<div class="formitem"><a>Upload Avatar</a></div>
			<div class="formitem"><input name="account-avatar" type="file" /></div>
		</div>
		<div class="formrow">
			<div class="formitem"><button name="account-button" class="formbutton">Update</div></div>
		</div>
	</form>
</div>
{{template "footer.html" . }}