{{template "header.html" . }}
<div class="rowblock">
	<form action='/topic/edit/submit/{{index .Something "tid"}}/' method="post">
		<div class="rowitem">
			<a class='topic_name hide_on_edit'>{{index .Something "title"}}</a> 
			<span class='topic_status topic_status_e topic_status_{{index .Something "status"}} hide_on_edit'>{{index .Something "status"}}</span> 
			<a href='/topic/edit/{{index .Something "ID"}}/' class="topic_status hide_on_edit open_edit">Edit</a>
			<a href='/topic/delete/{{index .Something "ID"}}/' class="topic_status">Delete</a>
			
			<input class='show_on_edit topic_name_input' name="topic_name" value='{{index .Something "title"}}' type="text" />
			<select name="topic_status" class='show_on_edit topic_status_input'>
				<option>closed</option>
				<option>open</option>
			</select>
			<button name="topic-button" class="formbutton show_on_edit submit_edit">Update</button>
		</div>
	</form>
</div>
<div class="rowblock">
	<div class="rowitem passive editable_parent" style="border-bottom: none;">
		<span class="hide_on_edit topic_content">{{index .Something "content"}}</span>
		<textarea name="topic_content" class="show_on_edit topic_content_input">{{index .Something "content"}}</textarea>
		<br /><br />
		<a class="topic_status" style="padding-left: 0px;margin-left: 0px;">{{index .Something "createdByName"}}<a/>
	</div>
</div><br />
<div class="rowblock">
	{{range $index, $element := .ItemList}}<div class="rowitem passive deletable_block editable_parent">
		<span class="editable_block">{{$element.Content}}</span>
		<br /><br />
		<a class="topic_status" style="padding-left: 0px;margin-left: 0px;">{{$element.CreatedByName}}<a/>
		<a href="/reply/edit/submit/{{$element.ID}}/"><button class="topic_status edit_item">Edit</button></a>
		<a href="/reply/delete/submit/{{$element.ID}}/"><button class="topic_status delete_item">Delete</button></a>
	</div>{{end}}
</div>
<div class="rowblock">
	<form action="/reply/create/" method="post">
		<input name="tid" value='{{index .Something "tid"}}' type="hidden" />
		<div class="formrow">
			<div class="formitem"><textarea name="reply-content" placeholder="Insert reply here"></textarea></div>
		</div>
		<div class="formrow">
			<div class="formitem"><button name="reply-button" class="formbutton">Create Reply</div></div>
		</div>
	</form>
</div>
{{template "footer.html" . }}