.sidebar {
	display: none;
}

#account_dashboard .colstack_right .coldyn_block {
	display: flex;
}
#dash_left .rowitem {
	border: 1px solid hsl(0,0%,85%);
}
#dash_left img {
	display: block;
	height: 82px;
	width: 82px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	margin-bottom: 8px;
}
#dash_username {
	display: flex;
	height: 26px;
}
#dash_username input {
	margin-right: 8px;
	width: 100px;
	padding-left: 8px;
	padding-top: 4px;
}
#dash_username .formbutton {
	padding: 5px;
	padding-top: 4px;
	font-size: 14px;
}
#dash_avatar_buttons {
	display: flex;
}
#dash_right {
	width: 100%;
}
#dash_right .rowitem {
	border: 1px solid hsl(0,0%,85%);
	margin-left: 8px;
}
#dash_right .rowitem:not(:last-child) {
	margin-bottom: 8px;
}
.account_soon, .dash_security {
	font-size: 14px;
	color: maroon;
}

.validated_email {
	color: green;
}
.invalid_email {
	color: crimson;
}