* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	font-family: arial;
	padding-bottom: 8px;
}

/* Patch for Edge, until they fix emojis in arial x.x */
@supports (-ms-ime-align:auto) { .user_content { font-family: Segoe UI Emoji, arial; } }

ul {
	padding-left: 0px;
	padding-right: 0px;
	height: 36px;
	list-style-type: none;
	border: 1px solid #ccc;
	background-color: white;
	margin-bottom: 12px;
}
li {
	height: 35px;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
}
li:hover { background: rgb(250,250,250); }
li a {
	text-decoration: none;
	/*color: #515151;*/
	color: black;
	font-size: 17px;
}
.menu_left {
	float: left;
	border-right: 1px solid #ccc;
	padding-right: 10px;
}
.menu_right {
	float: right;
	border-left: 1px solid #ccc;
	padding-right: 10px;
}

.menu_bell { cursor: default; }
.menu_alerts {
	/*padding-left: 7px;*/
	font-size: 20px;
	padding-top: 2px;
	color: rgb(80,80,80);
}
.menu_alerts .alert_counter {
	position: relative;
	font-size: 8px;
	top: -25px;
	background-color: rgb(190,0,0);
	color: white;
	width: 14px;
	left: 10px;
	line-height: 8px;
	padding-top: 2.5px;
	height: 14px;
	text-align: center;
	border: white solid 1px;
}
.menu_alerts .alert_counter:empty { display: none; }

.selectedAlert {
	background: white;
	color: black;
}
.selectedAlert:hover {
	background: white;
	color: black;
}
.selectedAlert .alert_counter { display: none; }
.menu_alerts .alertList {
	display: none;
	z-index: 500;
}

.selectedAlert .alertList {
	position: absolute;
	top: 51px;
	display: block;
	background: white;
	font-size: 10px;
	line-height: 16px;
	width: 300px;
	right: calc(5% + 7px);
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
.alertItem {
	padding: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 15px;
	padding-bottom: 16px;
}
.alertItem.withAvatar {
	background-size: 60px;
	background-repeat: no-repeat;
	padding-right: 12px;
	padding-left: 68px;
	height: 50px;
}
.alertItem.withAvatar:not(:last-child) {
	border-bottom: 1px solid rgb(230,230,230);
}
.alertItem.withAvatar .text {
	overflow: hidden;
	text-overflow: ellipsis;
	float: right;
	height: 40px;
	width: 100%;
	white-space: nowrap;
}
.alertItem .text {
	font-size: 13px;
	font-weight: normal;
	margin-left: 5px;
}

.container {
	width: 90%;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}

.rowblock {
	border: 1px solid #ccc;
	width: 100%;
	padding: 0px;
	padding-top: 0px;
}
.rowblock:empty { display: none; }
.rowsmall {
	font-size:12px;
}

.colblock_left {
	border: 1px solid #ccc;
	padding: 0px;
	padding-top: 0px;
	width: 30%;
	float: left;
	margin-right: 8px;
}
.colblock_right {
	border: 1px solid #ccc;
	padding: 0px;
	padding-top: 0px;
	width: 65%;
	overflow: hidden;
	word-wrap: break-word;
}
.colblock_left:empty, .colblock_right:empty { display: none; }

/* The new method of doing columns layouts, colblock is now deprecated :( */
.colstack_left {
	float: left;
	width: 30%;
	margin-right: 8px;
}
.colstack_right {
	float: left;
	width: 65%;
	width: calc(70% - 15px);
}
.colstack_item {
	border: 1px solid #ccc;
	padding: 0px;
	padding-top: 0px;
	width: 100%;
	margin-bottom: 12px;
	overflow: hidden;
	word-wrap: break-word;
}
.colstack_head { margin-bottom: 0px; }
.colstack_left:empty, .colstack_right:empty { display: none; }

.colstack_grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/*grid-gap: 15px;*/
	grid-gap: 12px;
	margin-left: 5px;
	margin-top: 2px;
}
.grid_item {
	border: 1px solid #ccc;
	word-wrap: break-word;
	background-color: white;
	width: 100%;
	overflow: hidden;
}
.grid_stat, .grid_istat {
	/*padding-top: 15px;*/
	text-align: center;
	/*padding-bottom: 15px;
	font-size: 20px;*/
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 16px;
}
.grid_istat {
	/*margin-bottom: 10px;*/
	margin-bottom: 5px;
}

.stat_green { background-color: lightgreen; border-color: lightgreen; }
.stat_orange { background-color: #ffe4b3; border-color: #ffe4b3; }
.stat_red { background-color: #ffb2b2; border-color: #ffb2b2; }
.stat_disabled { background-color: lightgray; border-color: lightgray; }

.rowitem {
	width: 100%;
	/*padding-left: 8px;
	padding-right: 8px;
	padding-top: 17px;
	padding-bottom: 12px;*/
	padding-left: 10px;
	padding-top: 14px;
	padding-bottom: 12px;
	padding-right: 10px;
	background-color: white;
}
/*.rowitem:not(.passive) { font-size: 17px; }*/
.rowitem:not(:last-child) { border-bottom: 1px dotted #ccc; }
.rowitem a {
	text-decoration: none;
	color: black;
}
.rowitem a:hover { color: silver; }
.top_post { margin-bottom: 12px; }
.opthead { display: none; }

.datarow {
	padding-top: 10px;
	padding-bottom: 10px;
}

.formrow {
	width: 100%;
	background-color: white;
}

/* Clearfix */
.formrow:before, .formrow:after {
	content: " ";
	display: table;
}
.formrow:after { clear: both; }
.formrow:not(:last-child) { border-bottom: 1px dotted #ccc; }

.formitem {
	float: left;
	padding: 10px;
	min-width: 20%;
	/*font-size: 17px;*/
	font-weight: normal;
}
.formitem:not(:last-child) { border-right: 1px dotted #ccc; }
.formitem.invisible_border { border: none; }

/* Mostly for textareas */
.formitem:only-child { width: 100%; }
.formitem textarea {
	width: 100%;
	height: 100px;
	outline-color: #8e8e8e;
}
.formitem:has-child() {
	margin: 0 auto;
	float: none;
}
.formitem:not(:only-child) input, .formitem:not(:only-child) select { padding: 3px;/*5px;*/ }
.formitem:not(:only-child).formlabel {
	padding-top: 15px;/*18px;*/
	padding-bottom: 12px;/*16px;*/
	/*padding-left: 15px;*/
}
.formbutton {
	padding: 7px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
	border-color: #ccc;
}

button {
	background: white;
	border: 1px solid #8e8e8e;
}

/* Topics */
.topic_status {
	text-transform: none;
	margin-left: 8px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #E8E8E8; /* 232,232,232. All three RGB colours being the same seems to create a shade of gray */
	color: #505050; /* 80,80,80 */
	border-radius: 2px;
}
.topic_status:empty { display: none; }

.username, .panel_tag {
	text-transform: none;
	margin-left: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #505050; /* 80,80,80 */
	background-color: #FFFFFF;
	border-style: dotted;
	border-color: #505050; /* 232,232,232. All three RGB colours being the same seems to create a shade of gray */
	border-width: 1px;
	font-size: 15px;
}
button.username { position: relative; top: -0.25px; }
.username.level { color: #303030; }
.username.real_username { color: #404040; font-size: 17px; }
.username.real_username:hover { color: black; }
.post_item > .username { margin-top: 20px; display: inline-block; }

.tag-mini {
	text-transform: none;
	margin-left: 0px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1.5px;
	padding-bottom: 0px;
	color: #505050; /* 80,80,80 */
	background-color: #FFFFFF;
	border-style: dotted;
	border-color: #505050; /* 232,232,232. All three RGB colours being the same seems to create a shade of gray */
	border-width: 1px;
	font-size: 10px;
}

.post_item > .mod_button > button {
	font-size: 15px;
	color: #202020;
	opacity: 0.7;
}
.post_item > .mod_button > button:hover { opacity: 0.9; }

.mod_button {
	margin-right: 4px;
	/*z-index: 10;*/
}
.like_label:before, .like_count_label:before { content: "😀"; }
.like_count_label {
	color: #505050;
	float: right;
	opacity: 0.85;
	margin-left: 5px;
}
.like_count {
	float: right;
	color: #505050;
	border-left: none;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 17px;
}

.edit_label:before { content: "🖊️"; }
.trash_label:before { content: "🗑️"; }
.pin_label:before { content: "📌"; }
.unpin_label:before { content: "📌"; }
.unpin_label { background-color: #D6FFD6; }
.flag_label:before { content: "🚩"; }
.level_label:before { content: "👑"; }

.controls {
	margin-top: 23px;
	display: inline-block;
	width: 100%;
}

.action_item {
	padding: 14px;
	text-align: center;
	background-color: rgb(255,245,245);
}

.postQuote {
	border: 1px solid #ccc;
	background: white;
	padding: 5px;
	margin: 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 8px;
}

.level {
	float: right;
	color: #505050;
	border-left: none;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 17px;
}

.mention { font-weight: bold; }
.show_on_edit { display: none; }

.alert {
	display: block;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
}
.alert_success {
	display: block;
	padding: 5px;
	border: 1px solid A2FC00;
	margin-bottom: 10px;
	background-color: DAF7A6;
}
.alert_error {
	display: block;
	padding: 5px;
	border: 1px solid #FF004B;
	margin-bottom: 8px;
	background-color: #FEB7CC;
}
.prev_button, .next_button {
	position: fixed;
	top: 50%;
	font-size: 30px;
	border-width: 1px;
	background-color: #FFFFFF;
	border-style: dotted;
	border-color: #505050;
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	z-index: 100;
}

.prev_button a, .next_button a {
	line-height: 28px;
	margin-top: 2px;
	margin-bottom: 0px;
	display: block;
	text-decoration: none;
	color: #505050;
}
.prev_button { left: 14px; }
.next_button { right: 14px; }
.head_tag_upshift {
	float: right;
	position: relative;
	top: -2px;
}

/* Control Panel */

.panel_upshift {
	font-size: 18px;
	position: relative;
	top: -2px;
}
.panel_upshift:visited { color: black; }
/*.panel_tag_upshift {
	margin-left: 2px;
	position: relative;
	top:-3px;
	color: #505050;
}*/

.panel_floater { float: right; }
.panel_rank_tag_admin:before { content: "👑"; }
.panel_rank_tag_mod:before { content: "👮"; }
.panel_rank_tag_banned:before { content: "⛓️"; }
.panel_rank_tag_guest:before { content: "👽"; }
.panel_rank_tag_member:before { content: "👪"; }

.forum_preset_announce:before { content: "📣"; }
.forum_preset_members:before { content: "👪"; }
.forum_preset_staff:before { content: "👮"; }
.forum_preset_admins:before { content: "👑"; }
.forum_preset_archive:before { content: "☠️"; }
.forum_preset_all, .forum_preset_custom, .forum_preset_ { display: none !important; }
.forum_active_Hide:before { content: "🕵️"; }
.forum_active_Show { display: none !important; }

.perm_preset_no_access:before { content: "No Access"; color: maroon; }
.perm_preset_read_only:before { content: "Read Only"; color: green; }
.perm_preset_can_post:before { content: "Can Post"; color: green; }
.perm_preset_can_moderate:before { content: "Can Moderate"; color: darkblue; }
.perm_preset_custom:before { content: "Custom"; color: black; }
.perm_preset_default:before { content: "Default"; }

@media (max-width: 880px) {
	li {
		height: 29px;
		font-size: 15px;
		padding-left: 9px;
		padding-top: 6px;
		padding-bottom: 6px;
	}
	ul {
		height: 30px;
		margin-top: 8px;
	}
	.menu_left, .menu_right { padding-right: 9px; }
	.menu_alerts {
		padding-left: 7px;
		padding-right: 7px;
		font-size: 18px;
	}

	body {
		padding-left: 4px;
		padding-right: 4px;
		margin: 0px !important;
		width: 100% !important;
		height: 100% !important;
		overflow-x: hidden;
	}
	.container { width: auto; }
	.selectedAlert .alertList { top: 37px; right: 4px; }
}

@media (max-width: 680px) {
	li {
		padding-left: 5px;
		padding-top: 3px;
		padding-bottom: 2px;
		height: 25px;
	}
	li a { font-size: 14px; }
	ul { height: 26px; }
	.menu_left, .menu_right { padding-right: 7px; }
	.menu_create_topic { display: none; }

	.menu_alerts {
		padding-left: 4px;
		padding-right: 4px;
		font-size: 16px;
		padding-top: 1px;
	}
	.selectedAlert .alertList { top: 33px; }

	.hide_on_mobile { display: none !important; }
	.prev_button, .next_button { top: auto; bottom: 5px; }
	.colstack_grid { grid-template-columns: none; grid-gap: 8px; }
	.grid_istat { margin-bottom: 0px; }
}

@media (max-width: 470px) {
	.menu_overview, .menu_profile { display: none; }
	.selectedAlert .alertList {
		width: 135px;
		margin-bottom: 5px;
	}
	.selectedAlert.hasAvatars .alertList { width: calc(100% - 8px); }
	.alertItem.withAvatar {
		background-size: 36px;
		text-align: right;
		padding-left: 10px;
		height: 46px;
	}
	.hasAvatars > .alertList > .alertItem.withAvatar {
		background-size: 46px;
		text-align: inherit;
		padding-left: 56px;
		height: 42px;
	}
	.alertItem { padding: 8px; }
	.hasAvatars > .alertList > .alertItem { padding-top: 11px; }
	.selectedAlert:not(.hasAvatars) > .alertList > .alertItem.withAvatar .text {
		width: calc(100% - 20px);
		height: 30px;
		white-space: normal;
	}
	.selectedAlert:not(.hasAvatars) > .alertList > .alertItem .text {
		font-size: 10px;
		font-weight: bold;
		margin-left: 0px;
	}
	.alertActive {
		opacity: 0.7;
	}

	.hide_on_micro { display: none !important; }
	.post_container { overflow: visible !important; }
	.post_item:not(.action_item) {
		background-position: 0px 2px !important;
		background-size: 64px auto !important;
		padding-left: 2px !important;
		min-height: 96px;
		position: relative !important;
	}
	.post_item > .user_content {
		margin-left: 75px !important;
		width: 100% !important;
		min-height: 45px;
	}
	.post_item > .controls > .mod_button {
		float: right !important;
		margin-left: 2px !important;
		margin-right: 3px;
	}
	.post_item > .controls > .mod_button > button {
		opacity: 1;
		padding-left: 3px;
		padding-right: 3px;
	}
	.post_item > .controls > .real_username {
		margin-top: 0px;
		margin-right: 0px;
		font-size: 15px;
		color: black;
		max-width: 61px;
		text-overflow: ellipsis;
	}
	.post_item > .controls {
		margin-top: 0px;
		margin-left: 74px;
		width: calc(100% - 74px);
	}
	.rowtopic {
		font-size: 14px;
	}
	.container { width: 100% !important; }
}

@media (max-width: 330px) {
	li { padding-left: 6px; }
	.menu_left { padding-right: 6px; }
	.post_item > .controls > .real_username {
		display: inline-block;
		overflow: hidden;
		margin-right: -3px;
		text-overflow: clip;
		max-width: 84px;
	}
	.post_item > .controls { margin-left: 72px; }
	.top_post > .post_item > .controls > .real_username { max-width: 57px; }
	.top_post > .post_item { padding-right: 4px; }
}
