.submenu a {
	margin-left: 4px;
}
.colstack_head .rowitem {
	display: flex;
}
.colstack_head .rowitem h1, .colstack_head .rowitem a {
	margin-right: auto;
}
.colstack_head .rowitem a h1 {
	margin-right: 0px;
}

.rowlist .tag-mini {
	font-size: 10px;
	margin-left: 2px;
}

.timeRangeSelector {
	padding: 2px;
	margin-top: -3px;
	margin-bottom: -3px;
}
.panel_floater {
	margin-left: auto;
}
.panel_right_button {
	float: right;
	margin-left: 5px;
}

.edit_button:before {
	content: "Edit";
}
.delete_button:after {
	content: "Delete";
}

#panel_forums .rowitem {
	display: flex;
}

#panel_users .ban_button {
	font-size: 10px;
	float: none;
	margin-left: 0px;
}

#panel_users .ban_button:before {
	content: "|";
	margin-right: 4px;
}

#forum_quick_perms .edit_fields {
	float: right;
}

.forum_active_name {
	color: rgb(200,200,200);
}
.builtin_forum_divider {
	margin-bottom: 5px;
}

#panel_word_filters .itemSeparator:before {
	content: " || ";
	padding-left: 2px;
	padding-right: 2px;
}

.colstack_graph_holder {
	background-color: var(--main-block-color);
	padding: 10px;
}
.ct-label {
	color: var(--input-text-color) !important;
}
.ct-chart-line, .ct-grid {
	stroke: var(--input-text-color) !important;
}
.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: hsl(359,98%,43%) !important;
}