.submenu:before {
	content: "-";
	margin-right: 6px;
}
.colstack_head .rowitem {
	display: flex;
}
.colstack_head .rowitem h1, .colstack_head .rowitem a {
	margin-right: auto;
}
.colstack_head .rowitem a h1 {
	margin-right: 0px;
}
.rowitem h2.hguide {
	font-size: 15px;
}

.rowlist .tag-mini {
	font-size: 10px;
	margin-left: 2px;
}

.analytics .colstack_head:first-child {
	padding-bottom: 4px;
}
.analytics .colstack_head select {
	padding: 2px;
	margin-top: -3px;
	margin-bottom: -3px;
}
.panel_floater {
	margin-left: auto;
}
.panel_right_button {
	float: right;
	margin-left: 5px;
}

.edit_button:before {
	content: "{{lang "panel_edit_button_text" . }}";
}
.delete_button:after {
	content: "{{lang "panel_delete_button_text" . }}";
}

#panel_dashboard_right .colstack_head .rowitem {
	padding: 10px;
}
#panel_dashboard_right .colstack_head .rowitem h1, #panel_dashboard_right .colstack_sub_head .rowitem h2 {
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;
}
#panel_dashboard_right .colstack_head a, #panel_dashboard_right .colstack_sub_head a {
	text-align: center;
	width: 100%;
	display: block;
	font-size: 15px;
}
.grid2 {
	margin-top: 6px;
}

#panel_forums .rowitem {
	display: flex;
}

#panel_users .panel_tag {
	float: right;
}
#panel_users .ban_button {
	font-size: 10px;
	float: none;
	margin-left: 0px;
}
#panel_users .ban_button:before {
	content: "|";
	margin-right: 4px;
}

#forum_quick_perms .edit_fields {
	float: right;
}

.forum_active_name {
	color: rgb(200,200,200);
}
.builtin_forum_divider {
	margin-bottom: 5px;
}

#panel_settings .panel_compactrow {
	padding-left: 10px;
}
#panel_word_filters .itemSeparator:before {
	content: " || ";
	padding-left: 2px;
	padding-right: 2px;
}

#panel_themes .rowitem::after {
	content: "";
	display: block;
	clear: both;
}

.panel_submitrow .rowitem {
	display: flex;
}
.panel_submitrow .rowitem *:first-child {
	margin-left: auto;
}
.panel_submitrow .rowitem *:last-child {
	margin-right: auto;
}
.panel_submitrow .rowitem button {
    padding-top: 5px;
    padding-bottom: 5px;
}

.colstack_graph_holder {
	background-color: var(--main-block-color);
	padding: 10px;
}
.ct-label {
	color: var(--input-text-color) !important;
}
.ct-chart-line, .ct-grid {
	stroke: var(--input-text-color) !important;
}
.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: hsl(359,98%,43%) !important;
}
.ct-legend {
	margin-top: 0px;
	margin-bottom: 0px;
}
select + .timeRangeSelector {
	margin-left: 8px;
}

#widgetTmpl, .widget_disabled {
	display: none;
}
.bg_red .widget_disabled {
	display: inline;
}
.wtypes .formrow {
	display: none;
}
.wtype_about .w_about, .wtype_simple .w_simple, .wtype_wol .w_wol, .wtype_default .w_default {
	display: block;
}

.pageset {
	margin-left: 0px;
	margin-bottom: 0px;
}
.pageitem {
	padding: 8px;
}