{{template "header.html" . }}
<main id="login_page">
	<div class="rowblock rowhead">
		<div class="rowitem"><h1>{{lang "login_head"}}</h1></div>
	</div>
	<div class="rowblock the_form">
		<form action="/accounts/login/submit/" method="post">
			<div class="formrow login_name_row">
				<div class="formitem formlabel"><a id="login_name_label">{{lang "login_account_name"}}</a></div>
				<div class="formitem"><input name="username"type="text"placeholder="{{lang "login_account_name"}}" aria-labelledby="login_name_label"required></div>
			</div>
			<div class="formrow login_password_row">
				<div class="formitem formlabel"><a id="login_password_label">{{lang "login_account_password"}}</a></div>
				<div class="formitem"><input name="password"type="password"autocomplete="current-password"placeholder="*****"aria-labelledby="login_password_label"required></div>
			</div>
			<div class="formrow login_button_row form_button_row">
				<div class="formitem"><button name="login-button" class="formbutton">{{lang "login_submit_button"}}</button></div>
				<div class="fall_opts">
					<div class="formitem dont_have_account">
						<a href="/accounts/create/">{{lang "login_no_account"}}
					</div>
					<div class="formitem forgot_password">
						<a href="/accounts/password-reset/">{{lang "login_forgot_password"}}</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</main>
{{template "footer.html" . }}