{{template "header.html" . }}
<div class="colstack account">
	{{template "account-menu.html" . }}
	<main class="colstack_right">
		<div class="colstack_item colstack_head rowhead">
			<div class="rowitem"><h1>Edit Avatar</h1></div>
		</div>
		<div class="colstack_item">
			<div class="rowitem"><img src="{{.CurrentUser.Avatar}}" height="128px" max-width="128px" /></div>
		</div>
		<div class="colstack_item the_form">
			<form action="/user/edit/avatar/submit/" method="post" enctype="multipart/form-data">
				<div class="formrow real_first_child">
					<div class="formitem formlabel"><a>Upload Avatar</a></div>
					<div class="formitem"><input name="account-avatar" type="file" required /></div>
				</div>
				<div class="formrow">
					<div class="formitem"><button name="account-button" class="formbutton">Update</button></div>
				</div>
			</form>
		</div>
	</main>
</div>
{{template "footer.html" . }}
