{{template "header.html" . }}
<div class="alert_success">Your data was successfully updated</div>
<div class="colblock_left">
	<div class="rowitem"><a>My Account</a></div>
	<div class="rowitem passive"><a href="/user/edit/avatar/">Edit Avatar</a></div>
	<div class="rowitem passive"><a href="/user/edit/username/">Edit Username</a></div>
	<div class="rowitem passive"><a href="/user/edit/critical/">Edit Password</a></div>
	<div class="rowitem passive"><a>Coming Soon</a></div>
	<div class="rowitem passive"><a>Coming Soon</a></div>
	<div class="rowitem passive"><a>Coming Soon</a></div>
</div>
<div class="colblock_right">
	<div class="rowitem"><a>Edit Password</a></div>
</div>
<div class="colblock_right">
	<form action="/user/edit/critical/submit/" method="post">
		<div class="formrow">
			<div class="formitem"><a>Current Password</a></div>
			<div class="formitem"><input name="account-current-password" type="password" placeholder="*****" /></div>
		</div>
		<div class="formrow">
			<div class="formitem"><a>New Password</a></div>
			<div class="formitem"><input name="account-new-password" type="password" placeholder="*****" /></div>
		</div>
		<div class="formrow">
			<div class="formitem"><a>Confirm Password</a></div>
			<div class="formitem"><input name="account-confirm-password" type="password" placeholder="*****" /></div>
		</div>
		<div class="formrow">
			<div class="formitem"><button name="account-button" class="formbutton">Update</div></div>
		</div>
	</form>
</div>
{{template "footer.html" . }}