<div class="colstack_item colstack_head rowhead">
	<div class="rowitem"><h1>{{lang "account_privacy_head"}}</h1></div>
</div>
<div class="colstack_item the_form">
	<form action="/user/edit/privacy/submit/?s={{.CurrentUser.Session}}" method="post">
		<!--<input name="o_profile_comments" value="{{if .ProfileComments}}1{{else}}0{{end}}" type="hidden"/>
		<input name="o_receive_convos" value="{{if .ReceiveConvos}}1{{else}}0{{end}}" type="hidden"/>-->
		<input name="o_enable_embeds" value="{{if .EnableEmbeds}}1{{else}}0{{end}}" type="hidden"/>
		<!--<div class="formrow real_first_child">
			<div class="formitem formlabel">{{lang "account_privacy_profile_comments"}}</div>
			<div class="formitem"><select name="profile_comments">
				<option{{if .ProfileComments}} selected{{end}} value=1>{{lang "option_yes"}}</option>
				<option{{if not .ProfileComments}} selected{{end}} value=0>{{lang "option_no"}}</option>
			</select></div>
		</div>
		<div class="formrow">
			<div class="formitem formlabel"><a>Receive Conversations</a></div>
			<div class="formitem"><select name="receive_convos">
				<option{{if .ReceiveConvos}} selected{{end}} value=1>{{lang "option_yes"}}</option>
				<option{{if not .ReceiveConvos}} selected{{end}} value=0>{{lang "option_no"}}</option>
			</select></div>
		</div>-->
		<div class="formrow">
			<div class="formitem formlabel"><a>Enable Embeds</a></div>
			<div class="formitem"><select name="enable_embeds">
				<option{{if .EnableEmbeds}} selected{{end}} value=1>{{lang "option_yes"}}</option>
				<option{{if not .EnableEmbeds}} selected{{end}} value=0>{{lang "option_no"}}</option>
			</select></div>
		</div>
		<div class="formrow">
			<div class="formitem"><button name="account-button" class="formbutton form_middle_button">{{lang "account_privacy_button"}}</button></div>
		</div>
	</form>
</div>