<div class="colstack_item colstack_head rowhead">
	<div class="rowitem"><h1>{{lang "account_email_head"}}</h1></div>
</div>
<div class="colstack_item rowlist">
	{{range .ItemList}}
	<div class="rowitem">
		<a>{{.Email}}</a>
		<span class="to_right">
			<span class="username">{{if .Primary}}{{lang "account_email_primary"}}{{else}}{{lang "account_email_secondary"}}{{end}}</span>
			{{if .Validated}}<span class="username validated_email">{{lang "account_email_verified"}}</span>{{else}}<a class="username invalid_email">{{lang "account_email_resend_email"}}</a>{{end}}
		</span>
	</div>
	{{else}}<div class="rowitem passive rowmsg">{{lang "account_email_none"}}</div>{{end}}
</div>