<div class="colstack_item colstack_head rowhead">
	<div class="rowitem"><h1>{{lang "account_blocked_head"}}</h1></div>
</div>
<div class="colstack_item rowlist">
	{{range .Users}}
	<div class="rowitem">
		<a href="{{.Link}}">{{.Name}}</a>
		<span class="to_right"><a href="/user/block/remove/{{.ID}}"><button>{{lang "account_blocked_remove"}}</button></a></span>
		<!--<div style="clear:both;"></div>-->
	</div>
	{{else}}
	<div class="rowitem rowmsg">
		<a>{{lang "account_blocked_no_users"}}</a>
	</div>
	{{end}}
</div>
{{template "paginator.html" . }}