{{template "header.html" . }}
{{template "account-menu.html" . }}
<div class="colblock_right">
	<div class="rowitem"><a>Edit Username</a></div>
</div>
<div class="colblock_right">
	<form action="/user/edit/username/submit/" method="post">
		<div class="formrow">
			<div class="formitem"><a>Current Username</a></div>
			<div class="formitem">{{.CurrentUser.Name}}</div>
		</div>
		<div class="formrow">
			<div class="formitem"><a>New Username</a></div>
			<div class="formitem"><input name="account-new-username" type="text" /></div>
		</div>
		<div class="formrow">
			<div class="formitem"><button name="account-button" class="formbutton">Update</div></div>
		</div>
	</form>
</div>
{{template "footer.html" . }}