{{template "header.html" . }}
<div id="account_edit_mfa_setup" class="colstack account">
	{{template "account_menu.html" . }}
	<main class="colstack_right">
		<div class="colstack_item colstack_head rowhead">
			<div class="rowitem"><h1>{{lang "account_mfa_setup_head"}}</h1></div>
		</div>
		<div class="colstack_item the_form">
			<form action="/user/edit/mfa/setup/submit/?s={{.CurrentUser.Session}}" method="post">
				<input name="code" value="{{.Something}}" type="hidden"/>
				<div class="formrow real_first_child">
					<div class="formitem formlabel"><a>{{lang "account_mfa_setup_explanation"}}</a></div>
					<div class="formitem formlabel">{{.Something}}</div>
				</div>
				<div class="formrow">
					<div class="formitem formlabel"><a>{{lang "account_mfa_setup_verify"}}</a></div>
					<div class="formitem"><input name="otp" type="text" autocomplete="off" required /></div> {{/** TODO: Make this a password? **/}}
				</div>
				<div class="formrow">
					<div class="formitem"><button name="account-button" class="formbutton form_middle_button">{{lang "account_mfa_setup_button"}}</button></div>
				</div>
			</form>
		</div>
	</main>
</div>
{{template "footer.html" . }}