<div class="colstack_left">
	<div class="colstack_item colstack_head rowhead">
		<div class="rowitem"><a>My Account</a></div>
	</div>
	<div class="colstack_item">
		<div class="rowitem passive"><a href="/user/edit/avatar/">Change Avatar</a></div>
		<div class="rowitem passive"><a href="/user/edit/username/">Change Username</a></div>
		<div class="rowitem passive"><a href="/user/edit/critical/">Change Password</a></div>
		<div class="rowitem passive"><a href="/user/edit/email/">Change Email</a></div>
		<div class="rowitem passive"><a>Coming Soon</a></div>
		<div class="rowitem passive"><a>Coming Soon</a></div>
		<div class="rowitem passive"><a>Coming Soon</a></div>
	</div>
</div>
