<div class="colstack_item colstack_head rowhead">
	<div class="rowitem">
		<h1>{{lang "convos_head"}}</h1>
		{{if .CurrentUser.Perms.UseConvos or .CurrentUser.Perms.UseConvosIfWithMod}}<h2><a class="create_convo_link" href="/user/convos/create/">{{lang "convos_create"}}</a></h2>{{end}}
	</div>
</div>
{{if .CurrentUser.Perms.UseConvos or .CurrentUser.Perms.UseConvosIfWithMod}}
<div class="colstack_item the_form convo_create_form auto_hide">
	<form action="/user/convos/create/submit/?s={{.CurrentUser.Session}}" method="post">
		<div class="formrow real_first_child">
			<div class="formitem formlabel"><a>{{lang "create_convo_recp"}}</a></div>
			<div class="formitem"><input name="recp" type="text" /></div>
		</div>
		<div class="formrow">
			<div class="formitem"><textarea name="body"></textarea></div>
		</div>
		<div class="formrow">
			<div class="formitem">
				<button name="panel-button" class="formbutton">{{lang "create_convo_button"}}</button>
				<button class="formbutton close_form">{{lang "quick_topic.cancel_button"}}</button>
			</div>
		</div>
	</form>
</div>
{{end}}
<div class="colstack_item convos_list rowlist">
	{{range .Convos}}
	<div class="rowitem">
		<span class="to_left">
			<a href="/user/convo/{{.ID}}">{{range .Users}}<span class="convos_item_user">{{.Name}}</span>&nbsp;{{end}}</a></span></a>
		</span>
		<span title="{{abstime .LastReplyAt}}" class="to_right">{{reltime .LastReplyAt}}</span>
		<div style="clear:both;"></div>
	</div>{{else}}
	<div class="rowitem">{{lang "convos_none"}}</div>
	{{end}}
</div>
{{template "paginator.html" . }}