{{if .Header.Theme.AboutSegment}}<div class="about">
	<a id="aboutTitle">{{.Header.Settings.about_segment_title}}</a>
	<span id="aboutDesc">{{.Header.Settings.about_segment_body}}</span>
</div>{{end}}
<div class="footer">
	<div id="poweredBy">
		<a id="poweredByName" href="https://github.com/Azareal/Gosora">Powered by Gosora</a><span id="poweredByDash"> - </span><span id="poweredByMaker">Made with love by Azareal</span>
	</div>
	<form action="/theme/" method="post">
		<div id="themeSelector" style="float: right;">
			<select id="themeSelectorSelect" name="themeSelector" aria-label="Change the site's appearance">
				{{range .Header.Themes}}
    			{{if not .HideFromThemes}}<option val="{{.Name}}"{{if eq $.Header.Theme.Name .Name}} selected{{end}}>{{.FriendlyName}}</option>{{end}}
				{{end}}
			</select>
		</div>
	</form>
</div>
					</div>
				{{if .Header.Widgets.RightSidebar}}<aside class="sidebar">{{.Header.Widgets.RightSidebar}}</aside>{{end}}
				<div style="clear: both;"></div>
			</div>
		</div>
	</body>
</html>
