						</div>
						<aside class="midRight sidebar">{{dock "rightSidebar" .Header }}</aside>
					</div>
<div class="footBlock">
<div class="footLeft"></div>
<div class="footer">
	{{dock "footer" .Header }}
	<div id="poweredByHolder" class="footerBit">
		<div id="poweredBy">
			<a id="poweredByName" href="https://github.com/Azareal/Gosora">{{lang "footer_powered_by"}}</a><span id="poweredByDash"> - </span><span id="poweredByMaker">{{lang "footer_made_with_love"}}</span>
		</div>
		{{if .CurrentUser.IsAdmin}}<div class="elapsed">{{elapsed .Header.StartedAt}}</div>{{end}}
		<form action="/theme/" method="post">
			<div id="themeSelector" style="float: right;">
				<select id="themeSelectorSelect" name="themeSelector" aria-label="{{lang "footer_theme_selector_aria"}}">
				{{range .Header.Themes}}
    				{{if not .HideFromThemes}}<option val="{{.Name}}"{{if eq $.Header.Theme.Name .Name}} selected{{end}}>{{.FriendlyName}}</option>{{end}}
				{{end}}
				</select>
			</div>
		</form>
	</div>
</div>
<div class="footRight"></div>
</div>
				<div style="clear: both;"></div>
			</div>
		</div>
	</body>
</html>
