{{template "header.html" . }}
<div class="rowblock opthead">
	<div class="rowitem"><a>Forums</a></div>
</div>
<div class="rowblock">
	{{range .ItemList}}<div class="rowitem {{if (.Desc) or (.LastTopicTime)}}datarow{{end}}">
		{{if .Desc}}<span style="float: left;">
			<a href="{{.Link}}" style="">{{.Name}}</a>
			<br /><span class="rowsmall">{{.Desc}}</span>
		</span>{{else}}<span style="float: left;">
			<a href="{{.Link}}">{{.Name}}</a>
			<br /><span class="rowsmall" style="font-style: italic;">No description</span>
		</span>{{end}}

		<span style="float: right;">
			<a href="{{.LastTopicLink}}" style="float: right;font-size: 14px;">{{.LastTopic}}</a>
			{{if .LastTopicTime}}<br /><span class="rowsmall">{{.LastTopicTime}}</span>{{end}}
		</span>
		<div style="clear: both;"></div>
	</div>
	{{else}}<div class="rowitem passive">You don't have access to any forums.</div>{{end}}
</div>
{{template "footer.html" . }}
