{{template "header.html" . }}
<main id="forumsItemList" itemscope itemtype="http://schema.org/ItemList">

<div class="rowblock opthead">
	<div class="rowitem"><h1 itemprop="name">{{lang "forums_head"}}</h1></div>
</div>
<div class="rowblock forum_list">
	{{range .ItemList}}<div id="forum_{{.ID}}" class="rowitem{{if (.Desc) or (.LastTopic.Title)}} datarow{{end}}" itemprop="itemListElement" itemscope
      itemtype="http://schema.org/ListItem">
		<span class="forum_left shift_left">
			<a href="{{.Link}}" itemprop="item">{{.Name}}</a><br />
		{{if .Desc}}
			<span class="rowsmall" itemprop="description">{{.Desc}}</span>
		{{else}}
			<span class="rowsmall forum_nodesc">{{lang "forums_no_description"}}</span>
		{{end}}
		</span>
		<span class="forum_right shift_right">
			{{if .LastReplyer.MicroAvatar}}<img class="extra_little_row_avatar" src="{{.LastReplyer.MicroAvatar}}" height=64 width=64 alt="{{.LastReplyer.Name}}'s Avatar" title="{{.LastReplyer.Name}}'s Avatar" />{{end}}
			<span>
				<a {{if .LastTopic.Link}}href="{{.LastTopic.Link}}"{{else}}class="forum_no_poster"{{end}}>{{if .LastTopic.Title}}{{.LastTopic.Title}}{{else}}{{lang "forums_none"}}{{end}}</a>
				{{if .LastTopicTime}}<br /><span class="rowsmall" title="{{abstime .LastTopic.LastReplyAt}}">{{.LastTopicTime}}</span>{{end}}
			</span>
		</span>
		<div style="clear: both;"></div>
	</div>
	{{else}}<div class="rowitem passive rowmsg">{{lang "forums_no_forums"}}</div>{{end}}
</div>

</main>
{{template "footer.html" . }}
