{{template "header.html" . }}
<main>

<div class="rowblock opthead">
	<div class="rowitem"><h1>Forums</h1></div>
</div>
<div class="rowblock forum_list">
	{{range .ItemList}}<div class="rowitem {{if (.Desc) or (.LastTopic.Title)}}datarow{{end}}">
		<span class="forum_left shift_left">
			<a href="{{.Link}}">{{.Name}}</a>
		{{if .Desc}}
			<br /><span class="rowsmall">{{.Desc}}</span>
		{{else}}
			<br /><span class="rowsmall" style="font-style: italic;">No description</span>
		{{end}}
		</span>

		<span class="forum_right shift_right">
			{{if .LastReplyer.Avatar}}<img class="extra_little_row_avatar" src="{{.LastReplyer.Avatar}}" height=64 width=64 alt="{{.LastReplyer.Name}}'s Avatar" title="{{.LastReplyer.Name}}'s Avatar" />{{end}}
			<span>
				<a href="{{.LastTopic.Link}}">{{if .LastTopic.Title}}{{.LastTopic.Title}}{{else}}None{{end}}</a>
				{{if .LastTopicTime}}<br /><span class="rowsmall">{{.LastTopicTime}}</span>{{end}}
			</span>
		</span>
		<div style="clear: both;"></div>
	</div>
	{{else}}<div class="rowitem passive">You don't have access to any forums.</div>{{end}}
</div>

</main>
{{template "footer.html" . }}
