<style>
.miniMenu {
	min-height: 41px;
	border-top: 1px solid rgba(255,255,255,0.5);
	background-color: rgba(255,255,255,0.5);
	position: relative;
	top: 0px;
	z-index: 0;
	padding-top: 3px;
}
.menuItem:first-child {
	margin-left: 5px;
}
.menuItem {
	float: left;
	min-height: 38px;
	padding: 10px;
	border-right: 1px solid rgba(204,204,204,0.9);
	background-color: rgba(255,255,255,0.9);
	margin-right: 5px;
	max-height: 30px;
	box-shadow: 0 7px 15px rgba(0,0,0,0.1);
	border-top: white;
	border-left: white;
	position: relative;
	top: 2px;
}
.menuItem:hover {
	top: 4px;
}
.menuItem a {
	color: black;
	text-decoration: none;
}
.rightMenu {
	float: right;
	border-right: none;
	border-left: 1px solid #ccc;
}
.sgBackdrop {
	background-image: url('/uploads/socialgroup_1.jpg');
	min-height: 150px;
	width: 100%;
	border: 1px solid #ccc;
	padding-top: calc(150px - 38px);
	border-bottom: none;
}
</style>