{{template "header.html" . }}
<main>

<div class="rowblock rowhead">
	<div class="rowitem"><h1>Create Guild</h1></div>
</div>
<div class="rowblock">
	<form action="/guild/create/submit/" method="post">
		<div class="formrow">
			<div class="formitem formlabel"><a>Guild Name</a></div>
			<div class="formitem"><input name="group_name" type="text" placeholder="Group Name"></div>
		</div>
		<div class="formrow">
			<div class="formitem formlabel"><a>Description</a></div>
			<div class="formitem"><input name="group_desc" type="text" placeholder="Description"></div>
		</div>
		<div class="formrow">
				<div class="formitem formlabel"><a>Visibility</a></div>
				<div class="formitem">
					<select name="group_privacy">
						<option value=0>Public</option>
						<option value=1>Protected</option>
						<option value=2>Private</option>
					</select>
				</div>
		</div>
		<div class="formrow">
			<div class="formitem"><button name="group_button" class="formbutton">Create Guild</button></div>
		</div>
	</form>
</div>

</main>
{{template "footer.html" . }}