<!doctype html>
<html lang="en">
	<head>
		<title>{{.Title}} | {{.Header.Site.Name}}</title>
		<link href="/static/{{.Header.Theme.Name}}/main.css" rel="stylesheet" type="text/css">
		{{range .Header.Stylesheets}}
		<link href="/static/{{.}}" rel="stylesheet" type="text/css">
		{{end}}
		<script type="text/javascript" src="/static/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/static/chartist/chartist.min.js"></script>
		{{range .Header.Scripts}}
		<script type="text/javascript" src="/static/{{.}}"></script>
		{{end}}
		<script type="text/javascript">
		var session = "{{.CurrentUser.Session}}";
		var siteURL = "{{.Header.Site.URL}}";
		</script>
		<script type="text/javascript" src="/static/global.js"></script>
		<meta name="viewport" content="width=device-width,initial-scale = 1.0, maximum-scale=1.0,user-scalable=no" />
		{{if .Header.MetaDesc}}<meta name="description" content="{{.Header.MetaDesc}}" />{{end}}
	</head>
	<body>
		{{if not .CurrentUser.IsSuperMod}}<style>.supermod_only { display: none !important; }</style>{{end}}
		<div class="container">
			<div class="left_of_nav">{{dock "leftOfNav" .Header }}</div>
			<nav class="nav">
				<div class="move_left">
				<div class="move_right">
				<ul>
					<li id="menu_overview" class="menu_left"><a href="/" rel="home">{{.Header.Site.ShortName}}</a></li>
					{{dock "topMenu" .Header }}
					<li class="menu_left menu_hamburger" title="{{lang "menu_hamburger_tooltip"}}"><a></a></li>
				</ul>
				</div>
				</div>
				<div style="clear: both;"></div>
			</nav>
			<div class="right_of_nav">{{dock "rightOfNav" .Header }}</div>
			<div id="back"><div id="main" {{if .Header.Widgets.RightSidebar}}class="shrink_main"{{end}}>
			<div class="alertbox">{{range .Header.NoticeList}}
				<div class="alert">{{.}}</div>{{end}}
			</div>
