<!doctype html>
<html lang="en">
	<head>
		<title>{{.Title}} | {{.Header.Site.Name}}</title>
		<link href="/static/{{.Header.Theme.Name}}/main.css" rel="stylesheet" type="text/css">
		{{range .Header.Stylesheets}}
		<link href="/static/{{.}}" rel="stylesheet" type="text/css">
		{{end}}
		<script type="text/javascript" src="/static/jquery-3.1.1.min.js"></script>
		{{range .Header.Scripts}}
		<script type="text/javascript" src="/static/{{.}}"></script>
		{{end}}
		<script type="text/javascript">
		var session = "{{.CurrentUser.Session}}";
		var siteURL = "{{.Header.Site.URL}}";
		</script>
		<script type="text/javascript" src="/static/global.js"></script>
		<meta name="viewport" content="width=device-width,initial-scale = 1.0, maximum-scale=1.0,user-scalable=no" />
	</head>
	<body>
		<style>{{if not .CurrentUser.IsSuperMod}}.supermod_only { display: none !important; }{{end}}</style>
		<div class="container">
{{template "menu.html" .}}
<div id="back"><div id="main" {{if .Header.Widgets.RightSidebar}}class="shrink_main"{{end}}>
{{range .Header.NoticeList}}<div class="alert">{{.}}</div>{{end}}
