{{template "header.html" . }}
<main id="ip_search_container">
	<div class="rowblock rowhead">
		<div class="rowitem">
			<h1>IP Search</h1>
		</div>
	</div>
	<form action="/users/ips/" method="get" id="ip-search-form"></form>
	<div class="rowblock ip_search_block">
		<div class="rowitem passive">
			<input form="ip-search-form" name="ip" class="ip_search_input" type="search" placeholder="🔍︎"{{if .IP}} value="{{.IP}}"{{end}} />
			<input form="ip-search-form" class="ip_search_search" type="submit" value="Search" />
		</div>
	</div>
	{{if .IP}}
	<div class="rowblock rowlist bgavatars">
		{{range .ItemList}}<div class="rowitem" style="background-image: url('{{.Avatar}}');">
			<img src="{{.Avatar}}" class="bgsub" alt="{{.Name}}'s Avatar" />
			<a class="rowTitle" href="{{.Link}}">{{.Name}}</a>
		</div>
		{{else}}<div class="rowitem">No users found.</div>{{end}}
	</div>
	{{end}}
</main>
{{template "footer.html" . }}
