{{template "header.html" . }}
<main id="login_page">
	<div class="rowblock rowhead">
		<div class="rowitem"><h1>{{lang "login_mfa_verify_head"}}</h1></div>
	</div>
	<div class="rowblock the_form">
		<form action="/accounts/mfa_verify/submit/" method="post">
			<div class="formrow real_first_child">
				<div class="formitem formlabel"><a>{{lang "login_mfa_verify_explanation"}}</a></div>
			</div>
			<div class="formrow login_mfa_token_row">
				<div class="formitem formlabel"><a id="login_mfa_verify_label">{{lang "login_mfa_token"}}</a></div>
				<div class="formitem"><input name="mfa_token" type="text" autocomplete="off" placeholder="*****" aria-labelledby="login_mfa_verify_label" required /></div>
			</div>
			<div class="formrow login_button_row form_button_row">
				<div class="formitem"><button name="login-button" class="formbutton">{{lang "login_mfa_verify_button"}}</button></div>
			</div>
		</form>
	</div>
</main>
{{template "footer.html" . }}
