{{template "header.html" . }}
<main id="login_page">
	<div class="rowblock rowhead">
		<div class="rowitem"><h1>Login</h1></div>
	</div>
	<div class="rowblock">
		<form action="/accounts/login/submit/" method="post">
			<div class="formrow login_name_row">
				<div class="formitem formlabel"><a>Account Name</a></div>
				<div class="formitem"><input name="username" type="text" placeholder="Account Name" required /></div>
			</div>
			<div class="formrow login_password_row">
				<div class="formitem formlabel"><a>Password</a></div>
				<div class="formitem"><input name="password" type="password" autocomplete="current-password" placeholder="*****" required /></div>
			</div>
			<div class="formrow login_button_row">
				<div class="formitem"><button name="login-button" class="formbutton">Login</button></div>
				<div class="formitem dont_have_account">Don't have an account?</div>
			</div>
		</form>
	</div>
</main>
{{template "footer.html" . }}
