<div class="colstack_item colstack_head">
	<div class="rowitem"><h1>{{lang "panel_debug_head"}}</h1></div>
</div>{{flush}}
<div id="panel_debug"class="colstack_grid">
	{{template "panel_debug_stat_head.html" "panel_debug_uptime_label"}}
	{{template "panel_debug_stat_head.html" "panel_debug_go_version_label"}}
	{{template "panel_debug_stat_head.html" "panel_debug_database_version_label"}}
	{{template "panel_debug_stat.html" .Uptime}}
	{{template "panel_debug_stat.html" .GoVersion}}
	{{template "panel_debug_stat.html" .DBVersion}}
	
	{{template "panel_debug_stat_head.html" "panel_debug_open_database_connections_label"}}
	{{template "panel_debug_stat_head.html" "panel_debug_adapter_label"}}
	{{/** TODO: Use this for active database connections when Go 1.11 lands **/}}
	{{template "panel_debug_stat_head_q.html"}}
	{{template "panel_debug_stat.html" .OpenConns}}
	{{template "panel_debug_stat.html" .DBAdapter}}
	{{template "panel_debug_stat_q.html"}}

	{{template "panel_debug_stat_head.html" "panel_debug_goroutine_count_label"}}
	{{template "panel_debug_stat_head.html" "panel_debug_cpu_count_label"}}
	{{template "panel_debug_stat_head_q.html"}}
	{{template "panel_debug_stat.html" .Goroutines}}
	{{template "panel_debug_stat.html" .CPUs}}
	{{template "panel_debug_stat_q.html"}}
</div>
{{template "panel_debug_subhead.html" "panel_debug_tasks"}}
<div id="panel_debug"class="colstack_grid">
	{{template "panel_debug_stat_head.html" "panel_debug_tasks_half_second"}}
	{{template "panel_debug_stat_head.html" "panel_debug_tasks_second"}}
	{{template "panel_debug_stat_head.html" "panel_debug_tasks_fifteen_minute"}}
	{{template "panel_debug_stat.html" .Tasks.HalfSecond}}
	{{template "panel_debug_stat.html" .Tasks.Second}}
	{{template "panel_debug_stat.html" .Tasks.FifteenMinute}}
	
	{{template "panel_debug_stat_head.html" "panel_debug_tasks_hour"}}
	{{template "panel_debug_stat_head.html" "panel_debug_tasks_shutdown"}}
	{{template "panel_debug_stat_head_q.html"}}
	{{template "panel_debug_stat.html" .Tasks.Hour}}
	{{template "panel_debug_stat.html" .Tasks.Shutdown}}
	{{template "panel_debug_stat_q.html"}}
</div>
{{template "panel_debug_subhead.html" "panel_debug_memory_stats"}}
<div id="panel_debug"class="colstack_grid">
	{{template "panel_debug_stat_head.html" "panel_debug_memory_stats_sys"}}
	{{template "panel_debug_stat_head.html" "panel_debug_memory_stats_heapsys"}}
	{{template "panel_debug_stat_head.html" "panel_debug_memory_stats_heapalloc"}}
	<div class="grid_item grid_stat"><span>{{.MemStats.Sys}} ({{bunit .MemStats.Sys}})</span></div>
	<div class="grid_item grid_stat"><span>{{.MemStats.HeapSys}} ({{bunit .MemStats.HeapSys}})</span></div>
	<div class="grid_item grid_stat"><span>{{.MemStats.HeapAlloc}} ({{bunit .MemStats.HeapAlloc}})</span></div>

	{{template "panel_debug_stat_head.html" "panel_debug_memory_stats_heapidle"}}
	{{template "panel_debug_stat_head.html" "panel_debug_memory_stats_heapobjects"}}
	{{template "panel_debug_stat_head.html" "panel_debug_memory_stats_stackinuse"}}
	<div class="grid_item grid_stat"><span>{{.MemStats.HeapIdle}} ({{bunit .MemStats.HeapIdle}})</span></div>
	<div class="grid_item grid_stat"><span>{{.MemStats.HeapObjects}}</span></div>
	<div class="grid_item grid_stat"><span>{{.MemStats.StackInuse}} ({{bunit .MemStats.StackInuse}})</span></div>

	{{template "panel_debug_stat_head.html" "panel_debug_memory_stats_mspaninuse"}}
	{{template "panel_debug_stat_head.html" "panel_debug_memory_stats_mcacheinuse"}}
	{{template "panel_debug_stat_head.html" "panel_debug_memory_stats_mspansys"}}
	<div class="grid_item grid_stat"><span>{{.MemStats.MSpanInuse}} ({{bunit .MemStats.MSpanInuse}})</span></div>
	<div class="grid_item grid_stat"><span>{{.MemStats.MCacheInuse}} ({{bunit .MemStats.MCacheInuse}})</span></div>
	<div class="grid_item grid_stat"><span>{{.MemStats.MSpanSys}} ({{bunit .MemStats.MSpanSys}})</span></div>

	{{template "panel_debug_stat_head.html" "panel_debug_memory_stats_mcachesys"}}
	{{template "panel_debug_stat_head.html" "panel_debug_memory_stats_gcsys"}}
	{{template "panel_debug_stat_head.html" "panel_debug_memory_stats_othersys"}}
	<div class="grid_item grid_stat"><span>{{.MemStats.MCacheSys}} ({{bunit .MemStats.MCacheSys}})</span></div>
	<div class="grid_item grid_stat"><span>{{.MemStats.GCSys}} ({{bunit .MemStats.GCSys}})</span></div>
	<div class="grid_item grid_stat"><span>{{.MemStats.OtherSys}} ({{bunit .MemStats.OtherSys}})</span></div>
</div>
{{template "panel_debug_subhead.html" "panel_debug_caches"}}
<div id="panel_debug"class="colstack_grid">
	{{template "panel_debug_stat_head.html" "panel_debug_caches_topic"}}
	{{template "panel_debug_stat_head.html" "panel_debug_caches_user"}}
	{{template "panel_debug_stat_head.html" "panel_debug_caches_reply"}}
	<div class="grid_item grid_stat"><span>{{.Cache.Topics}} / {{.Cache.TCap}}</span></div>
	<div class="grid_item grid_stat"><span>{{.Cache.Users}} / {{.Cache.UCap}}</span></div>
	<div class="grid_item grid_stat"><span>{{.Cache.Replies}} / {{.Cache.RCap}}</span></div>

	{{template "panel_debug_stat_head.html" "panel_debug_caches_topic_list"}}
	{{template "panel_debug_stat_head_q.html"}}
	{{template "panel_debug_stat_head_q.html"}}
	<div class="grid_item grid_stat"><span>{{if .Cache.TopicListThaw}}Thawed{{else}}Sleeping{{end}}</span></div>
	{{template "panel_debug_stat_q.html"}}
	{{template "panel_debug_stat_q.html"}}
</div>
{{template "panel_debug_subhead.html" "panel_debug_database"}}
<div id="panel_debug"class="colstack_grid">
	{{template "panel_debug_stat_head.html" "panel_debug_database_topics"}}
	{{template "panel_debug_stat_head.html" "panel_debug_database_users"}}
	{{template "panel_debug_stat_head.html" "panel_debug_database_replies"}}
	{{template "panel_debug_stat.html" .Database.Topics}}
	{{template "panel_debug_stat.html" .Database.Users}}
	{{template "panel_debug_stat.html" .Database.Replies}}

	{{template "panel_debug_stat_head.html" "panel_debug_database_profile_replies"}}
	{{template "panel_debug_stat_head.html" "panel_debug_database_activity_stream"}}
	{{template "panel_debug_stat_head.html" "panel_debug_database_likes"}}
	{{template "panel_debug_stat.html" .Database.ProfileReplies}}
	{{template "panel_debug_stat.html" .Database.ActivityStream}}
	{{template "panel_debug_stat.html" .Database.Likes}}

	{{template "panel_debug_stat_head.html" "panel_debug_database_attachments"}}
	{{template "panel_debug_stat_head.html" "panel_debug_database_polls"}}
	{{template "panel_debug_stat_head_q.html"}}
	{{template "panel_debug_stat.html" .Database.Attachments}}
	{{template "panel_debug_stat.html" .Database.Polls}}
	{{template "panel_debug_stat_q.html"}}

	{{template "panel_debug_stat_head.html" "panel_debug_database_login_logs"}}
	{{template "panel_debug_stat_head.html" "panel_debug_database_reg_logs"}}
	{{template "panel_debug_stat_head.html" "panel_debug_database_mod_logs"}}
	{{template "panel_debug_stat.html" .Database.LoginLogs}}
	{{template "panel_debug_stat.html" .Database.RegLogs}}
	{{template "panel_debug_stat.html" .Database.ModLogs}}

	{{template "panel_debug_stat_head.html" "panel_debug_database_admin_logs"}}
	{{template "panel_debug_stat_head_q.html"}}
	{{template "panel_debug_stat_head_q.html"}}
	{{template "panel_debug_stat.html" .Database.AdminLogs}}
	{{template "panel_debug_stat_q.html"}}
	{{template "panel_debug_stat_q.html"}}

	{{template "panel_debug_stat_head.html" "panel_debug_database_views"}}
	{{template "panel_debug_stat_head.html" "panel_debug_database_views_agents"}}
	{{template "panel_debug_stat_head.html" "panel_debug_database_views_forums"}}
	{{template "panel_debug_stat.html" .Database.Views}}
	{{template "panel_debug_stat.html" .Database.ViewsAgents}}
	{{template "panel_debug_stat.html" .Database.ViewsForums}}

	{{template "panel_debug_stat_head.html" "panel_debug_database_views_langs"}}
	{{template "panel_debug_stat_head.html" "panel_debug_database_views_referrers"}}
	{{template "panel_debug_stat_head.html" "panel_debug_database_views_systems"}}
	{{template "panel_debug_stat.html" .Database.ViewsLangs}}
	{{template "panel_debug_stat.html" .Database.ViewsReferrers}}
	{{template "panel_debug_stat.html" .Database.ViewsSystems}}

	{{template "panel_debug_stat_head.html" "panel_debug_database_post_analytics"}}
	{{template "panel_debug_stat_head.html" "panel_debug_database_topic_analytics"}}
	{{template "panel_debug_stat_head_q.html"}}
	{{template "panel_debug_stat.html" .Database.PostChunks}}
	{{template "panel_debug_stat.html" .Database.TopicChunks}}
	{{template "panel_debug_stat_q.html"}}
</div>
{{template "panel_debug_subhead.html" "panel_debug_disk"}}
<div id="panel_debug"class="colstack_grid">
	{{template "panel_debug_stat_head.html" "panel_debug_disk_static_files"}}
	{{template "panel_debug_stat_head.html" "panel_debug_disk_attachments"}}
	{{template "panel_debug_stat_head.html" "panel_debug_disk_avatars"}}
	<div class="grid_item grid_stat"><span>{{bunit .Disk.Static}}</span></div>
	<div class="grid_item grid_stat"><span>{{bunit .Disk.Attachments}}</span></div>
	<div class="grid_item grid_stat"><span>{{bunit .Disk.Avatars}}</span></div>

	{{template "panel_debug_stat_head.html" "panel_debug_disk_log_files"}}
	{{template "panel_debug_stat_head.html" "panel_debug_disk_backups"}}
	{{template "panel_debug_stat_head.html" "panel_debug_disk_git"}}
	<div class="grid_item grid_stat"><span>{{bunit .Disk.Logs}}</span></div>
	<div class="grid_item grid_stat"><span>{{bunit .Disk.Backups}}</span></div>
	<div class="grid_item grid_stat"><span>{{bunit .Disk.Git}}</span></div>
</div>{{flush}}