{{template "header.html" . }}
<div class="colstack panel_stack">
{{template "panel_menu.html" . }}
	<main id="panel_analytics_right" class="colstack_right">
		<form id="timeRangeForm" name="timeRangeForm" action="/panel/analytics/referrers/" method="get">
			<div class="colstack_item colstack_head">
				<div class="rowitem">
					<a>{{lang "panel_statistics_referrers_head"}}</a>
					{{template "panel_analytics_time_range.html" . }}
				</div>
			</div>
		</form>
		<div id="panel_analytics_referrers" class="colstack_item rowlist">
			{{range .ItemList}}
			<div class="rowitem panel_compactrow editable_parent">
				<a href="/panel/analytics/referrer/{{.Agent}}" class="panel_upshift">{{.Agent}}</a>
				<span class="panel_compacttext to_right">{{.Count}}{{lang "panel_statistics_views_suffix"}}</span>
			</div>
			{{else}}<div class="rowitem passive rowmsg">{{lang "panel_statistics_referrers_no_referrers"}}</div>{{end}}
		</div>
	</main>
</div>
{{template "footer.html" . }}
