<div class="colstack_item colstack_head">
	<div class="rowitem"><h1>{{lang "panel_logs_admin_head"}}</h1></div>
</div>
<div id="panel_modlogs" class="colstack_item rowlist loglist">
	{{range .Logs}}
	<div class="rowitem panel_compactrow">
		<span class="to_left">
			<span>{{.Action}}</span>
			{{if $.CurrentUser.Perms.ViewIPs}}<br /><small title="{{.IP}}">{{.IP}}</small>{{end}}
		</span>
		<span class="to_right">
			<span title="{{.DoneAt}}">{{.DoneAt}}</span>
		</span>
		<div style="clear:both;"></div>
	</div>
	{{else}}
	<div class="rowitem rowmsg">
		<a>{{lang "panel_logs_admin_no_logs"}}</a>
	</div>
	{{end}}
</div>
{{template "paginator.html" . }}