{{template "header.html" . }}
<div class="colstack panel_stack">
<nav class="colstack_left" aria-label="The control panel menu">
	<div class="colstack_item colstack_head">
		<div class="rowitem"><a href="/panel/groups/edit/{{.ID}}">Group Editor</a></div>
	</div>
	<div class="colstack_item rowmenu">
		<div class="rowitem passive"><a href="/panel/groups/edit/{{.ID}}">General</a></div>
		<div class="rowitem passive"><a>Promotions</a></div>
		<div class="rowitem passive"><a href="/panel/groups/edit/perms/{{.ID}}">Permissions</a></div>
	</div>
{{template "panel-inner-menu.html" . }}
</nav>
<main class="colstack_right">
	<div class="colstack_item colstack_head">
		<div class="rowitem"><h1>{{.Name}} Group</h1></div>
	</div>
	<form action="/panel/groups/edit/perms/submit/{{.ID}}?session={{.CurrentUser.Session}}" method="post">
	<div id="panel_group" class="colstack_item rowlist formlist">
		{{if .CurrentUser.Perms.EditGroupLocalPerms}}
		{{range .LocalPerms}}
		<div class="formrow">
			<div class="formitem">
				<a>{{.LangStr}}</a>
				<div style="float: right;">
					<select name="group-perm-{{.Name}}">
						<option{{if .Toggle}} selected{{end}} value=1>Yes</option>
						<option{{if not .Toggle}} selected{{end}} value=0>No</option>
					</select>
				</div>
			</div>
		</div>
		{{end}}
		{{end}}
		<div class="formrow">
			<div class="formitem"><button name="panel-button" class="formbutton form_middle_button">Update Group</button></div>
		</div>
	</div>
	<div class="colstack_item colstack_head">
		<div class="rowitem"><h1>Extended Permissions</h1></div>
	</div>
	<div class="colstack_item rowlist formlist">
		{{if .CurrentUser.Perms.EditGroupGlobalPerms}}
		{{range .GlobalPerms}}
		<div class="formrow">
			<div class="formitem">
				<a>{{.LangStr}}</a>
				<div style="float: right;">
					<select name="group-perm-{{.Name}}">
						<option{{if .Toggle}} selected{{end}} value=1>Yes</option>
						<option{{if not .Toggle}} selected{{end}} value=0>No</option>
					</select>
				</div>
			</div>
		</div>
		{{end}}
		{{end}}
		<div class="formrow">
			<div class="formitem"><button name="panel-button" class="formbutton form_middle_button">Update Group</button></div>
		</div>
	</div>
	</form>
</main>
</div>
{{template "footer.html" . }}
