<div class="colstack_item colstack_head">
	<div class="rowitem">
		<h1>{{lang "panel_stats_referrers_head"}}</h1>
		<select form="timeRangeForm" class="spamSelector to_right autoSubmitRedirect" name="spam">
			<option value="0"{{if not .ShowSpam}} selected{{end}}>{{lang "panel_stats_spam_hide"}}</option>
			<option value="1"{{if .ShowSpam}} selected{{end}}>{{lang "panel_stats_spam_show"}}</option>
		</select>
		<noscript><input form="timeRangeForm" type="submit" /></noscript>
		{{template "panel_analytics_time_range.html" . }}
	</div>
</div>
<form id="timeRangeForm" name="timeRangeForm" action="/panel/analytics/referrers/" method="get"></form>
<div id="panel_analytics_referrers" class="colstack_item rowlist">
	{{range .ItemList}}
	<div class="rowitem panel_compactrow editable_parent">
		<a href="/panel/analytics/referrer/{{.Agent}}" class="panel_upshift">{{.Agent}}</a>
		<span class="panel_compacttext to_right">{{.Count}}{{lang "panel_stats_views_suffix"}}</span>
	</div>
	{{else}}<div class="rowitem passive rowmsg">{{lang "panel_stats_referrers_no_referrers"}}</div>{{end}}
</div>