{{template "header.html" . }}
<div id="panel_page_list" class="colstack panel_stack">
{{template "panel_menu.html" . }}
	<main class="colstack_right">
		<div class="colstack_item colstack_head">
			<div class="rowitem"><h1>{{lang "panel_pages_head"}}</h1></div>
		</div>
		<div id="panel_pages" class="colstack_item rowlist">
			{{range .ItemList}}
			<div class="rowitem panel_compactrow">
				<a href="/panel/pages/edit/{{.ID}}" class="panel_upshift">{{.Title}}</a>&nbsp;<a href="/pages/{{.Name}}">[{{.Name}}]</a>
				<span class="panel_buttons">
					<a href="/panel/pages/edit/{{.ID}}" class="panel_tag panel_right_button edit_button" aria-label="{{lang "panel_pages_edit_button_aria"}}"></a>
					<a href="/panel/pages/delete/submit/{{.ID}}?session={{$.CurrentUser.Session}}" class="panel_tag panel_right_button delete_button" aria-label="{{lang "panel_pages_delete_button_aria"}}"></a>
				</span>
			</div>
			{{else}}
			<div class="rowitem rowmsg">
				<a>{{lang "panel_pages_no_pages"}}</a>
			</div>
			{{end}}
		</div>

		<div class="colstack_item colstack_head">
			<div class="rowitem"><h1>{{lang "panel_pages_create_head"}}</h1></div>
		</div>
		<div class="colstack_item the_form">
			<form action="/panel/pages/create/submit/?session={{.CurrentUser.Session}}" method="post">
				<div class="formrow">
					<div class="formitem formlabel"><a>{{lang "panel_pages_create_name"}}</a></div>
					<div class="formitem"><input name="name" type="text" placeholder="{{lang "panel_pages_create_name_placeholder"}}" /></div>
				</div>
				<div class="formrow">
					<div class="formitem formlabel"><a>{{lang "panel_pages_create_title"}}</a></div>
					<div class="formitem"><input name="title" type="text" placeholder="{{lang "panel_pages_create_title_placeholder"}}" /></div>
				</div>
				<div class="formrow">
					<div class="formitem">
						<textarea name="body" placeholder="{{lang "panel_pages_create_body_placeholder"}}"></textarea>
					</div>
				</div>
				<div class="formrow">
					<div class="formitem"><button name="panel-button" class="formbutton form_middle_button">{{lang "panel_pages_create_submit_button"}}</button></div>
				</div>
			</form>
		</div>
	</main>
</div>
{{template "footer.html" . }}
