{{template "header.html" . }}
<div class="colstack_left">
	<div class="colstack_item colstack_head">
		<div class="rowitem rowhead"><a href="/panel/logs/mod/">Logs</a></div>
	</div>
	<div class="colstack_item">
		<div class="rowitem passive"><a href="/panel/logs/mod/">Moderation Logs</a></div>
		{{if .CurrentUser.Perms.ViewAdminLogs}}<div class="rowitem passive"><a>Administration Logs</a></div>{{end}}
		{{if .CurrentUser.Perms.ViewAdminLogs}}<div class="rowitem passive"><a>System Logs</a></div>{{end}}
	</div>
{{template "panel-inner-menu.html" . }}
</div>
<div class="colstack_right">
	<div class="colstack_item colstack_head">
		<div class="rowitem rowhead"><a>Moderation Logs</a></div>
	</div>
	<div class="colstack_item">
		{{range .Logs}}
		<div class="rowitem" style="font-weight: normal;text-transform: none;">
			<a style="font-size: 17px;">{{.Action}}</a><br />
			<small style="margin-left: 2px;">IP: {{.IPAddress}}</small>
			<span style="float: right;">
				<span style="font-size: 16px;">{{.DoneAt}}</span>
			</span>
		</div>
		{{end}}
	</div>
</div>
{{template "footer.html" . }}