		<div class="colstack_item colstack_head">
			<div class="rowitem">
				<h1>{{lang "panel_statistics_topic_counts_head"}}</h1>
				{{template "panel_analytics_time_range.html" . }}
			</div>
		</div>
		<form id="timeRangeForm" name="timeRangeForm" action="/panel/analytics/topics/" method="get"></form>
		<div id="panel_analytics_topics" class="colstack_graph_holder">
			<div class="ct_chart" aria-label="{{lang "panel_statistics_topic_counts_chart_aria"}}"></div>
		</div>
		<div class="colstack_item colstack_head">
			<div class="rowitem"><a>{{lang "panel_statistics_details_head"}}</a></div>
		</div>
		<div id="panel_analytics_topics_table" class="colstack_item rowlist" aria-label="{{lang "panel_statistics_topic_counts_table_aria"}}">
			{{range .ViewItems}}
			<div class="rowitem panel_compactrow editable_parent">
				<a class="panel_upshift {{if or (or (or (eq $.TimeRange "six-hours") (eq $.TimeRange "twelve-hours")) (eq $.TimeRange "one-day")) (eq $.TimeRange "two-days")}}unix_to_24_hour_time{{else}}unix_to_date{{end}}">{{.Time}}</a>
				<span class="panel_compacttext to_right">{{.Count}}{{lang "panel_statistics_topics_suffix"}}</span>
			</div>
			{{end}}
		</div>
{{template "panel_analytics_script.html" . }}