{{template "header.html" . }}
<div class="colstack panel_stack">
{{template "panel_menu.html" . }}
	<main id="panel_analytics_right" class="colstack_right">
		<form id="timeRangeForm" name="timeRangeForm" action="/panel/analytics/referrer/{{.Agent}}" method="get">
			<div class="colstack_item colstack_head">
				<div class="rowitem">
					<a>{{.Agent}}{{lang "panel_statistics_views_head_suffix"}}</a>
					{{template "panel_analytics_time_range.html" . }}
				</div>
			</div>
		</form>
		<div id="panel_analytics_referrers" class="colstack_graph_holder">
			<div class="ct_chart"></div>
		</div>
	</main>
</div>
{{template "panel_analytics_script.html" . }}
{{template "footer.html" . }}
