{{template "header.html" . }}
<div class="colblock_left">
	<div class="rowitem"><a>Control Panel</a></div>
	<div class="rowitem passive"><a href="/panel/forums/">Forums</a></div>
	<div class="rowitem passive"><a href="/panel/settings/">Settings</a></div>
	<div class="rowitem passive"><a href="/panel/plugins/">Plugins</a></div>
	<div class="rowitem passive"><a>Coming Soon</a></div>
	<div class="rowitem passive"><a>Coming Soon</a></div>
	<div class="rowitem passive"><a>Coming Soon</a></div>
	<div class="rowitem passive"><a href="/forum/-1">Reports</a></div>
</div>
<div class="colblock_right">
	<div class="rowitem"><a>Edit Setting</a></div>
</div>
<div class="colblock_right">
	<form action="/panel/settings/edit/submit/{{.Something.Name}}?session={{.CurrentUser.Session}}" method="post">
		<div class="formrow">
			<div class="formitem"><a>Setting Name</a></div>
			<div class="formitem">{{.Something.Name}}</div>
		</div>
		{{if eq .Something.Type "bool"}}
		<div class="formrow">
			<div class="formitem"><a>Setting Value</a></div>
			<div class="formitem"><input name="setting-value" type="checkbox"{{if eq .Something.Content "1"}} checked{{end}} /></div>
		</div>
		{{else}}<div class="formrow">
			<div class="formitem"><a>Setting Value</a></div>
			<div class="formitem"><input name="setting-value" type="text" value="{{.Something.Content}}" /></div>
		</div>{{end}}
		<div class="formrow">
			<div class="formitem"><button name="panel-button" class="formbutton">Update Setting</div></div>
		</div>
	</form>
</div>
{{template "footer.html" . }}