{{template "header.html" . }}
{{template "panel-menu.html" . }}

<div class="colstack_right">
	<div class="colstack_item colstack_head">
		<div class="rowitem"><a>Groups</a></div>
	</div>
	<div id="panel_groups" class="colstack_item rowlist">
		{{range .ItemList}}
		<div class="rowitem panel_compactrow editable_parent">
			<a href="/panel/groups/edit/{{.ID}}" class="panel_upshift">{{.Name}}</a>
			<span class="panel_floater">
				{{if .RankClass}}<a class="panel_tag panel_rank_tag panel_rank_tag_{{.RankClass}}" title="{{.Rank}}"></a>
				{{else}}<span class="panel_tag">{{.Rank}}</span>{{end}}

				{{if .CanEdit}}<a href="/panel/groups/edit/{{.ID}}" class="panel_tag panel_right_button">Edit</a>{{end}}
			</span>
		</div>
		{{end}}
	</div>
	<div class="colstack_item colstack_head">
		<div class="rowitem"><a>Create Group</a></div>
	</div>
	<div class="colstack_item">
		<form action="/panel/groups/create/?session={{.CurrentUser.Session}}" method="post">
			<div class="formrow">
				<div class="formitem formlabel"><a>Name</a></div>
				<div class="formitem"><input name="group-name" type="text" /></div>
			</div>
			<div class="formrow">
				<div class="formitem formlabel"><a>Type</a></div>
				<div class="formitem">
					<select name="group-type"{{if not .CurrentUser.Perms.EditGroupGlobalPerms}} disabled{{end}}>
						<option selected>Member</option>
						<option{{if not .CurrentUser.Perms.EditGroupSuperMod}} disabled{{end}}>Mod</option>
						<option{{if not .CurrentUser.Perms.EditGroupAdmin}} disabled{{end}}>Admin</option>
						<option>Banned</option>
					</select>
				</div>
			</div>
			<div class="formrow">
				<div class="formitem formlabel"><a>Tag</a></div>
				<div class="formitem"><input name="group-tag" type="text" /></div>
			</div>
			<div class="formrow">
				<div class="formitem"><button name="panel-button" class="formbutton">Add Group</button></div>
			</div>
		</form>
	</div>
</div>
{{template "footer.html" . }}
