{{template "header.html" . }}
<div class="colstack panel_stack">
{{template "panel_menu.html" . }}
	<main id="panel_analytics_right" class="colstack_right">
		<form id="timeRangeForm" name="timeRangeForm" action="/panel/analytics/lang/{{.Agent}}" method="get">
			<div class="colstack_item colstack_head">
				<div class="rowitem">
					<a>{{.FriendlyAgent}}{{lang "panel_statistics_views_head_suffix"}}</a>
					{{template "panel_analytics_time_range.html" . }}
				</div>
			</div>
		</form>
		<div id="panel_analytics_langs" class="colstack_graph_holder">
			<div class="ct_chart"></div>
		</div>
	</main>
</div>
<script>
let rawLabels = [{{range .PrimaryGraph.Labels}}
{{.}},{{end}}
];
let seriesData = [{{range .PrimaryGraph.Series}}
{{.}},{{end}}
];
buildStatsChart(rawLabels, seriesData, "{{.TimeRange}}");
</script>
{{template "footer.html" . }}
