{{template "header.html" . }}
<div class="colstack panel_stack">
{{template "panel_menu.html" . }}
<form id="timeRangeForm" name="timeRangeForm" action="/panel/analytics/systems/" method="get"></form>
	<main id="panel_analytics_right" class="colstack_right analytics">
{{template "panel_before_head.html" . }}
		<div class="colstack_item colstack_head">
			<div class="rowitem">
				<h1>{{lang "panel_statistics_operating_systems_head"}}</h1>
				{{template "panel_analytics_time_range.html" . }}
			</div>
		</div>
		<div id="panel_analytics_systems_chart" class="colstack_graph_holder">
			<div class="ct_chart"></div>
		</div>
		<div id="panel_analytics_systems" class="colstack_item rowlist">
			{{range .ItemList}}
			<div class="rowitem panel_compactrow editable_parent">
				<a href="/panel/analytics/system/{{.Agent}}" class="panel_upshift">{{.FriendlyAgent}}</a>
				<span class="panel_compacttext to_right">{{.Count}}{{lang "panel_statistics_views_suffix"}}</span>
			</div>
			{{else}}<div class="rowitem passive rowmsg">{{lang "panel_statistics_operating_systems_no_operating_systems"}}</div>{{end}}
		</div>
	</main>
</div>
{{template "panel_analytics_script.html" . }}
{{template "footer.html" . }}