{{template "header.html" . }}
<div class="colblock_left">
	<div class="rowitem"><a>Control Panel</a></div>
	<div class="rowitem passive"><a href="/panel/forums/">Forums</a></div>
	<div class="rowitem passive"><a href="/panel/settings/">Settings</a></div>
	<div class="rowitem passive"><a href="/panel/plugins/">Plugins</a></div>
	<div class="rowitem passive"><a>Coming Soon</a></div>
	<div class="rowitem passive"><a>Coming Soon</a></div>
	<div class="rowitem passive"><a>Coming Soon</a></div>
	<div class="rowitem passive"><a href="/forum/-1">Reports</a></div>
</div>
<div class="colblock_right">
	<div class="rowitem"><a>Settings</a></div>
</div>
<div class="colblock_right">
	{{ range $key, $value := .Something }}
	<div class="rowitem editable_parent" style="font-weight: normal;">
		<a href="/panel/settings/edit/{{$key}}" class="editable_block" style="font-size: 20px;position:relative;top: -2px;text-transform: none;">{{$key}}</a>
		<a style="float: right;text-transform: lowercase;">{{$value}}</a>
	</div>
	{{end}}
</div>
{{template "footer.html" . }}