{{template "header.html" . }}
{{template "panel-menu.html" . }}
<div class="colblock_right">
	<div class="rowitem rowhead"><a>Forums</a></div>
</div>
<div class="colblock_right">
	{{range .ItemList}}
	<div class="rowitem editable_parent" style="font-weight: normal;">
		<a class="editable_block" style="font-size: 20px;position:relative;top: -2px;text-transform: none;">{{.Name}}</a>
		{{if not (eq .ID 0)}}<span style="float: right;">
			<a href="/panel/forums/edit/submit/{{.ID}}" class="username edit_field">Edit</a>
			<a href="/panel/forums/delete/{{.ID}}?session={{$.CurrentUser.Session}}" class="username">Delete</a>
		</span>{{end}}
	</div>
	{{end}}
</div><br />
<div class="colblock_right">
	<div class="rowitem rowhead"><a>Add Forum</a></div>
</div>
<div class="colblock_right">
	<form action="/panel/forums/create/?session={{.CurrentUser.Session}}" method="post">
		<div class="formrow">
			<div class="formitem"><a>Forum Name</a></div>
			<div class="formitem"><input name="forum-name" type="text" /></div>
		</div>
		<div class="formrow">
			<div class="formitem"><button name="panel-button" class="formbutton">Add Forum</button></div>
		</div>
	</form>
</div>
{{template "footer.html" . }}