<div class="colstack_item colstack_head">
	<div class="rowitem">
		<h1>{{lang "panel_stats_memory_head"}}</h1>
		{{template "panel_analytics_time_range_month.html" . }}
	</div>
</div>
<form id="timeRangeForm"name="timeRangeForm"action="/panel/analytics/memory/"method="get"></form>
<div id="panel_analytics_memory"class="colstack_graph_holder">
	<div class="ct_chart"aria-label="{{lang "panel_stats_memory_chart_aria"}}"></div>
</div>
<div class="colstack_item colstack_head">
	<div class="rowitem">
		<h1>{{lang "panel_stats_details_head"}}</h1>
	</div>
</div>
<div id="panel_analytics_memory_table"class="colstack_item rowlist"aria-label="{{lang "panel_stats_memory_table_aria"}}">
	{{range .ViewItems}}
	<div class="rowitem panel_compactrow editable_parent">
		<a class="panel_upshift unix_{{if or (or (or (eq $.TimeRange "six-hours") (eq $.TimeRange "twelve-hours")) (eq $.TimeRange "one-day")) (eq $.TimeRange "two-days")}}to_24_hour_time{{else}}to_date{{end}}">{{.Time}}</a>
		<span class="panel_compacttext to_right">{{.Count}}{{.Unit}}</span>
	</div>
	{{else}}<div class="rowitem passive rowmsg">{{lang "panel_stats_memory_no_memory"}}</div>{{end}}
</div>
{{template "panel_analytics_script_memory.html" . }}