{{template "header.html" . }}
<div class="colstack panel_stack">
	<nav class="colstack_left" aria-label="The control panel menu">
		<div class="colstack_item colstack_head submenu_fallback">
			<div class="rowitem"><a href="/panel/logs/mod/">{{lang "panel_logs_menu_head"}}</a></div>
		</div>
		<div class="colstack_item rowmenu submenu_fallback">
			<div class="rowitem passive"><a href="/panel/logs/mod/">{{lang "panel_logs_menu_moderation"}}</a></div>
			{{if .CurrentUser.Perms.ViewAdminLogs}}<div class="rowitem passive"><a>{{lang "panel_logs_menu_administration"}}</a></div>{{end}}
		</div>
{{template "panel-inner-menu.html" . }}
	</nav>
	<main class="colstack_right">
		<div class="colstack_item colstack_head">
			<div class="rowitem"><h1>{{lang "panel_logs_administration_head"}}</h1></div>
		</div>
		<div id="panel_modlogs" class="colstack_item rowlist">
			{{range .Logs}}
			<div class="rowitem panel_compactrow">
				<span style="float: left;">
					<span>{{.Action}}</span>
					{{if $.CurrentUser.Perms.ViewIPs}}<br /><small style="margin-left: 2px;font-size: 12px;">{{.IPAddress}}</small>{{end}}
				</span>
				<span class="to_right">
					<span style="font-size: 14px;">{{.DoneAt}}</span>
				</span>
				<div style="clear: both;"></div>
			</div>
			{{end}}
		</div>
		{{if gt .LastPage 1}}
		{{template "paginator.html" . }}
		{{end}}
	</main>
</div>
{{template "footer.html" . }}
