{{template "header.html" . }}
<div class="colstack panel_stack">
{{template "panel-menu.html" . }}
	<main id="panel_dashboard_right" class="colstack_right">
		<form id="timeRangeForm" name="timeRangeForm" action="/panel/analytics/agents/" method="get">
			<div class="colstack_item colstack_head">
				<div class="rowitem">
					<a>User Agents</a>
					<select class="timeRangeSelector to_right" name="timeRange">
						<option val="one-month"{{if eq .TimeRange "one-month"}} selected{{end}}>1 month</option>
						<option val="two-days"{{if eq .TimeRange "two-days"}} selected{{end}}>2 days</option>
						<option val="one-day"{{if eq .TimeRange "one-day"}} selected{{end}}>1 day</option>
						<option val="twelve-hours"{{if eq .TimeRange "twelve-hours"}} selected{{end}}>12 hours</option>
						<option val="six-hours"{{if eq .TimeRange "six-hours"}} selected{{end}}>6 hours</option>
					</select>
				</div>
			</div>
		</form>
		<div id="panel_analytics_agents" class="colstack_item rowlist">
			{{range .ItemList}}
			<div class="rowitem panel_compactrow editable_parent">
				<a href="/panel/analytics/agent/{{.Agent}}" class="panel_upshift">{{.Agent}}</a>
				<span class="panel_compacttext to_right">{{.Count}} views</span>
			</div>
			{{end}}
		</div>
	</main>
</div>
{{template "footer.html" . }}
