{{template "header.html" . }}
<main id="register_page">
	<div class="rowblock rowhead">
		<div class="rowitem"><h1>{{lang "register_head"}}</h1></div>
	</div>
	<div class="rowblock">
		<form action="/accounts/create/submit/" method="post">
			<div class="formrow">
				<div class="formitem formlabel"><a id="username_label">{{lang "register_account_name"}}</a></div>
				<div class="formitem"><input name="username" type="text" placeholder="{{lang "register_account_name"}}" aria-labelledby="username_label" required /></div>
			</div>
			<div class="formrow">
				<div class="formitem formlabel"><a id="email_label">{{lang "register_account_email"}}</a></div>
				<div class="formitem"><input name="email" type="email" placeholder="joe.doe@example.com" aria-labelledby="email_label" required /></div>
			</div>
			<div class="formrow">
				<div class="formitem formlabel"><a id="password_label">{{lang "register_account_password"}}</a></div>
				<div class="formitem"><input name="password" type="password" autocomplete="new-password" placeholder="*****" aria-labelledby="password_label" required /></div>
			</div>
			<div class="formrow">
				<div class="formitem formlabel"><a id="confirm_password_label">{{lang "register_account_confirm_password"}}</a></div>
				<div class="formitem"><input name="confirm_password" type="password" placeholder="*****" autocomplete="new-password" aria-labelledby="confirm_password_label" required /></div>
			</div>
			<div class="formrow">{{/** This is not a TOS, that text is there to fool the spambots **/}}
				<div class="formitem formlabel"><a id="accept_tos_label">{{lang "register_account_anti_spam"}}</a></div>
				<div class="formitem"><select name="tos" aria-labelledby="accept_tos_label" required>
					<option value="1" selected>{{lang "option_yes"}}</option>
					<option value="0">{{lang "option_no"}}</option>
				</select></div>
			</div>
			<div class="formrow register_button_row">
				<div class="formitem"><button name="register-button" class="formbutton">{{lang "register_submit_button"}}</button></div>
			</div>
			<input id="js-antispam" name="antispam" value="nananana" type="hidden" />
		</form>
	</div>
</main>
<script>{{/** TODO: Are we sure we want to do this by ID, just in case we reuse this and have multiple antispams on the page? **/}}
document.getElementById("js-antispam").value = "{{.Something}}";
</script>
{{template "footer.html" . }}
