{{template "header.html" . }}
<main>

<div class="rowblock rowhead">
	<div class="rowitem"><a>Create Group</a></div>
</div>
<div class="rowblock">
	<form action="/group/create/submit/" method="post">
		<div class="formrow">
			<div class="formitem formlabel"><a>Group Name</a></div>
			<div class="formitem"><input name="group_name" type="text" placeholder="Group Name" /></div>
		</div>
		<div class="formrow">
			<div class="formitem formlabel"><a>Description</a></div>
			<div class="formitem"><input name="group_desc" type="text" placeholder="Description" /></div>
		</div>
		<div class="formrow">
				<div class="formitem formlabel"><a>Visibility</a></div>
				<div class="formitem">
					<select name="group_privacy">
						<option val="0">Public</option>
						<option val="1">Protected</option>
						<option val="2">Private</option>
					</select>
				</div>
		</div>
		<div class="formrow">
			<div class="formitem"><button name="group_button" class="formbutton">Create Group</button></div>
		</div>
	</form>
</div>

</main>
{{template "footer.html" . }}
