<article class="rowblock post_container poll"aria-level="{{lang "topic.poll_aria"}}">
	<div class="rowitem passive editable_parent post_item poll_item {{.Topic.ClassName}}"style="background-image:url({{.Topic.Avatar}}),url(/s/{{.Header.Theme.Name}}/post-avatar-bg.jpg);background-position:0px {{if le .Topic.ContentLines 5}}-1{{end}}0px;background-repeat:no-repeat,repeat-y;">
		<div class="topic_content user_content">
			{{range .Poll.QuickOptions}}
			<div class="poll_option">
				<input form="poll_{{$.Poll.ID}}_form"id="poll_option_{{.ID}}"name="poll_option_input"type="checkbox"value="{{.ID}}">
				<label class="poll_option_label"for="poll_option_{{.ID}}">
					<div class="sel"></div>
				</label>
				<span id="poll_option_text_{{.ID}}"class="poll_option_text">{{.Value}}</span>
			</div>
			{{end}}
			<div class="poll_buttons">
				<button form="poll_{{.Poll.ID}}_form" class="poll_vote_button">{{lang "topic.poll_vote"}}</button>
				<button class="poll_results_button"data-poll-id="{{.Poll.ID}}">{{lang "topic.poll_results"}}</button>
				<a href="#"><button class="poll_cancel_button">{{lang "topic.poll_cancel"}}</button></a>
			</div>
		</div>
		<div id="poll_results_{{.Poll.ID}}"class="poll_results auto_hide">
			<div class="topic_content user_content">
				<div class="auto_hide poll_no_results">{{lang "topic.poll_no_results"}}</div>
			</div>
		</div>
	</div>
</article>