#main {
	max-width: none !important;
}
.colstack_left {
	width: 200px;
	padding-bottom: 6px;
	background-color: rgb(62, 62, 62);
	/*border-left: 4px solid rgb(82, 82, 82);*/
}
.colstack_left .colstack_head {
	/*font-size: 19px;*/
	font-size: 18px;
	margin-bottom: 8px;
	background-color: rgb(72, 72, 72);
	/*padding-top: 10px;*/
	padding-top: 9px;
	padding-left: 18px;
	padding-right: 24px;
	/*padding-bottom: 10px;*/
	padding-bottom: 9px;
	margin-left: 0px;
}
.colstack_left .colstack_head:not(:first-child) {
	margin-top: 14px;
	font-size: 18px;
	padding-top: 9px;
	padding-bottom: 9px;
}
.colstack_left .colstack_head a {
	color: rgb(210, 210, 210);
}

.rowmenu {
	margin-left: 18px;
	margin-bottom: 2px;
	font-size: 17px;
}
.rowmenu a {
	color: rgb(180, 180, 180);
}
.rowmenu .rowitem {
	margin-bottom: 4px;
}

.to_right {
	margin-left: auto;
}
.bg_red {
	background-color: rgb(88,68,68) !important;
}

@media (max-width: 420px) {
	.colstack {
		display: block;
	}
	.colstack_left, .colstack_right {
		width: auto !important;
	}
}