.sidebar, .footer .widget {
	display: none;
}

/* start panel css copy, try to de-dupe this */
#back {
	padding: 0px;
}
{{template "acc_panel_common.css" }}

.colstack_right {
	background-color: #333333;
	width: 75%;
	padding-right: 24px;
	padding-bottom: 24px;
	padding-left: 24px;
}
.colstack_right .colstack_head {
	margin-bottom: 6px;
}
.colstack_right .colstack_head h1 {
	font-size: 21px;
}
.footer .widget, #poweredByHolder {
	background-color: #393939;
}

/* end panel css copy */

.colstack_right {
	padding-top: 16px;
}

.account_soon, .dash_security {
	font-size: 14px;
	color: rgb(270, 170, 170);
}

#account_dashboard .colstack_right .coldyn_block {
	display: flex;
	margin-top: 2px;
}
#dash_left {
	border-radius: 3px;
	background-color: #444444;
	padding: 12px;
	height: 180px;
	width: 240px;
	position: relative;
}
#dash_username {
	display: flex;
}
#dash_username input {
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 8px;
    width: 100px;
	display: relative;
	padding-left: 16px;
	background-position: right 8px bottom 8px;
}
#dash_username button {
	margin-bottom: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#dash_left img {
	display: block;
	border-radius: 48px;
	height: 72px;
	width: 72px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12px;
}
#dash_avatar_buttons {
	display: flex;
}
#dash_avatar_buttons label {
	margin-left: auto;
	margin-right: 8px;
}
#dash_avatar_buttons button {
	margin-right: auto;
}
#revoke_avatars {
	margin-left: auto;
}
#dash_right {
	width: 100%;
	margin-left: 12px;
}
#dash_right .rowitem {
	border-radius: 3px;
	background-color: #444444;
	padding: 16px;
}
#dash_right .rowitem:not(:last-child) {
	margin-bottom: 8px;
}

.rowlist .rowitem {
	display: flex;
}
.validated_email {
	color: rgb(0, 170, 0);
}
.invalid_email {
	color: crimson;
}