#back {
	padding: 0px;
}
#back, .footer .widget, #poweredByHolder {
	border: none;
}
.left_of_nav, .nav, .right_of_nav, .sidebar {
	display: none;
}
.footer .widget, #poweredByHolder {
	background-color: #393939;
}
.submenu a:before {
	content: "-";
	margin-right: 8px;
}

{{template "acc_panel_common.css" }}
.colstack_left .colstack_head {
	font-size: 19px;
	/*padding-top: 10px;
	padding-bottom: 10px;*/
	padding-top: 12px;
	padding-bottom: 12px;
}
.menu_stats {
	margin-left: 4px;
}
/*.back_to_site {
	font-size: 18px;
}*/
.above_right {
	background-color: rgb(62, 62, 62);
	margin-top: -12px;
	margin-left: -24px;
	margin-right: -24px;
	display: flex;
}
.above_right .left_bit {
	padding-left: 20px;
	margin-top: 16px;
	font-size: 18px;
}
.above_right .left_bit a {
	color: #bbbbbb;
}
.above_right .right_bit {
	margin-left: auto;
	display: flex;
	background-color: rgb(72, 72, 72);
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 20px;
	padding-left: 20px;
}
.above_right img {
	border-radius: 24px;
}
.above_right span {
	margin-left: 12px;
	margin-top: 5px;
	color: rgb(180, 180, 180);
}

.colstack_right {
	background-color: #333333;
	width: 90%;
	padding-top: 12px;
	padding-right: 24px;
	padding-bottom: 24px;
	padding-left: 24px;
}
.colstack_right .colstack_head {
	margin-bottom: 5px;
}
.colstack_right .colstack_head + .colstack_head:not(:first-child) {
	margin-top: 5px;
}
.colstack_right .colstack_head h1 {
	font-size: 21px;
}
.colstack_right .colstack_head h1 + h2.hguide {
	margin-left: auto;
	font-size: 17px;
}
.colstack_right .colstack_item.the_form, .colstack_right .colstack_item:not(.colstack_head):not(.rowhead) .rowitem {
	background-color: #444444;
}
.colstack_right .colstack_head.colstack_sub_head:not(:first-child) {
	margin-top: 12px;
}
.colstack_head + .colstack_head.colstack_sub_head:not(:first-child) {
	margin-top: 2px;
}
.alert {
	margin-top: 18px;
}
.rowitem, .formitem.avataritem {
	display: flex;
}
.formitem.avataritem {
	flex-direction: column;
}
.avataritem .avatarbuttons {
	margin-top: 7px;
	margin-bottom: 3px;
}

.colstack_grid {
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(3, 1fr);
}
.rowlist.bgavatars, .micro_grid {
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}
.grid_item {
	border-radius: 3px;
	color: rgb(190,190,190);
	background-color: rgb(68,68,68);
	padding: 12px;
}
.grid_item a {
	color: rgb(195,195,195);
}
.stat_green {
	background-color: rgb(68,88,68);
}
.stat_red {
	background-color: rgb(88,68,68);
}
.grid2 {
	margin-top: 12px;
}

.panel_buttons, .panel_floater {
	margin-left: auto;
}

.colstack_right input, .colstack_right select, .colstack_right textarea, .formitem img {
	padding: 4px;
	padding-bottom: 3px;
	padding-left: 6px;
	padding-right: 6px;
}

#panel_users .rowitem {
	padding-top: 20px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 18px;
}
button, .formbutton, .panel_right_button:not(.has_inner_button), #panel_users .profile_url {
	background: rgb(100,100,200);
}
#panel_users .panel_tag:not(.panel_right_button) {
	background: rgb(50,150,50);
}
.panel_right_button:not(.has_inner_button),
.panel_right_button button,
#panel_users .panel_tag:not(.panel_right_button),
#panel_users .profile_url {
	margin-left: 2px;
	padding: 5px;
	padding-left: 6px;
	padding-right: 6px;
}
#panel_users .panel_tag:not(.panel_right_button), #panel_users .profile_url {
	color: rgb(250,250,250);
    font-size: 15px;
    text-align: center;
	border-radius: 3px;
}
.edit_button:after {
	content: "{{lang "panel_edit_button_text" . }}";
}
.delete_button:after {
	content: "{{lang "panel_delete_button_text" . }}";
}
/*#themeSelector select {
	background: rgb(90,90,90);
    color: rgb(200,200,200);
}*/

select + .timeRangeSelector {
	margin-left: 8px;
}

.colstack_graph_holder {
	background-color: #444444;
	border-radius: 3px;
	padding: 16px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 10px;
}
.colstack_graph_holder.scrolly {
	overflow-x: scroll;
	width: 800px;
}
.colstack_graph_holder.scrolly .ct_chart {
	width: 1000px;
}
.colstack_graph_holder .ct-label {
	color: rgb(195,195,195);
	font-size: 13px;
	white-space: nowrap;
}
.colstack_graph_holder .ct-horizontal {
	margin-top: 3px;
}
.colstack_graph_holder .ct-grid {
	stroke: rgb(125,125,125);
}
.ct-legend {
	margin-left: 0px;
}

#panel_setting .formlabel {
	display: none;
}
#panel_setting textarea {
	width: 100%;
	height: 80px;
}

.micro_grid .to_right, .micro_grid .panel_buttons {
	margin-left: 0px;
}
#panel_settings .panel_upshift {
	margin-bottom: 12px;
}
#panel_settings .to_right {
	white-space: nowrap;
	margin-top: auto;
	padding-top: 10px;
	background-color: #555555;
	border-radius: 5px;
	padding-left: 5px;
	padding: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#panel_settings.rowlist.bgavatars.micro_grid, .micro_grid {
	grid-gap: 24px;
    grid-row-gap: 16px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#panel_word_filters {
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}
#panel_word_filters .filters_find {
	margin-bottom: 1px;
}
#panel_word_filters .itemSeparator:before {
	content: "{{lang "panel_word_filters_to" . }}";
	font-size: 17px;
	margin-bottom: 1px;
}
#panel_word_filters .panel_buttons {
	margin-top: 14px;
}

#panel_users .rowitem .to_right {
	order: 0;
	margin-right: auto;
}
#panel_users .rowitem .profile_url {
	order: 1;
}
#panel_users .rowitem .panel_floater {
	order: 2;
	margin-top: 8px;
	margin-right: auto;
}

.perm_preset_no_access:before {
	content: "{{lang "panel_perms_no_access" . }}";
	/*color: hsl(0,100%,20%);*/
}
/*.perm_preset_read_only:before, .perm_preset_can_post:before {
	color: hsl(120,100%,20%);
}*/
.perm_preset_read_only:before {
	content: "{{lang "panel_perms_read_only" . }}";
}
.perm_preset_can_post:before {
	content: "{{lang "panel_perms_can_post" . }}";
}
.perm_preset_can_moderate:before {
	content: "{{lang "panel_perms_can_moderate" . }}";
	/*color: hsl(240,100%,20%);*/
}
.perm_preset_quasi_mod:before {
	content: "{{lang "panel_perms_quasi_mod" . }}";
}
.perm_preset_custom:before {
	content: "{{lang "panel_perms_custom" . }}";
	/*color: hsl(0,0%,20%);*/
}
.perm_preset_default:before {
	content: "{{lang "panel_perms_default" . }}";
}

.panel_submitrow {
	margin-top: 8px;
}
.colstack_right .colstack_item:not(.colstack_head):not(.rowhead).panel_submitrow .rowitem {
	padding-bottom: 14px;
}
.panel_submitrow .rowitem button:first-child {
	margin-left: auto;
}
.panel_submitrow .rowitem button:last-child {
	margin-right: auto;
}

/*.has_inner_button button {
	margin-right: 8px;
}*/
#forum_quick_perms .formitem, #forum_quick_perms .panel_floater {
	display: flex;
}
#forum_quick_perms .edit_fields {
	margin-left: 4px;
}

span.grip {
	content: '....';
	width: 20px;
	display: inline-block;
	overflow: hidden;
	line-height: 5px;
	padding: 3px 4px;
	cursor: move;
	vertical-align: middle;
	margin-top: -16px;
	margin-right: 12px;
	font-size: 12px;
	font-family: sans-serif;
	letter-spacing: -3px;
	color: #888888;
	text-shadow: 1px 0 1px black;
	margin-left: -12px;
	height: 100%;
	font-size: 40px;
	margin-bottom: -4px;
	line-height: 8px;
}
span.grip::after {
	content: '... ... ... ... ... ... ...';
}
.forum_no_desc span.grip, .panel_menu_item span.grip {
	height: 40px;
}

.panel_plugin_meta {
	display: flex;
	flex-direction: column;
}
.panel_plugin_meta br {
	display: none;
}
.panel_plugin_meta small {
	margin-left: 0px !important;
	margin-top: 1px;
}
/* TODO: Switch out this hack for vertically aligning the buttons */
/* margin-top: 10px; */
#panel_plugins .to_right {
	display: flex;
}
#panel_plugins .to_right .panel_right_button {
	margin-top: auto;
	margin-bottom: auto;
}

.widget_normal {
	display: flex;
	width: 100%;
}
.bg_red.in_edit.widget_item {
	background-color: #444444 !important;
}
.widget_item .form_button_row .rowitem {
	display: flex;
}
.widget_edit .form_button_row .formitem a {
	display: inline;
}
.colstack_right .colstack_item.the_form, .colstack_right .colstack_item:not(.colstack_head):not(.rowhead) .rowitem.widget_new {
	padding-top: 12px;
	padding-bottom: 12px;
}
#widgetTmpl {
	display: none;
}
.widget_disabled {
	display: none;
}
.bg_red .widget_disabled {
	display: inline;
}
.wtypes .formrow {
	display: none;
}
.wtype_about .w_about, .wtype_simple .w_simple, .wtype_wol .w_wol, .wtype_default .w_default {
	display: block;
}
.wtext, .rwtext {
	width: 100%;
	height: 80px;
}

#panel_debug .grid_stat:not(.grid_stat_head) {
	margin-bottom: 5px;
}

@media (max-width: 1000px) {
	#panel_settings.rowlist.bgavatars.micro_grid, .micro_grid {
		grid-gap: 12px;
		grid-row-gap: 4px;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
}