#back {
	padding: 0px;
}
#back, .footer .widget, #poweredByHolder {
	border: none;
}
.left_of_nav, .nav, .right_of_nav, .sidebar {
	display: none;
}
.footer .widget, #poweredByHolder {
	background-color: #393939;
}
.rowmenu {
	margin-left: 16px;
}
.submenu a:before {
	content: "-";
	margin-right: 8px;
}

.colstack_left {
	width: 200px;
	padding-top: 12px;
	padding-right: 24px;
	padding-bottom: 24px;
	padding-left: 24px;
	background-color: #3e3e3e;
}
.colstack_left .colstack_head {
	font-size: 19px;
	margin-bottom: 4px;
}
.colstack_left .colstack_head:not(:first-child) {
	margin-top: 8px;
}
.colstack_left .colstack_head a {
	color: rgb(210, 210, 210);
}
.rowmenu {
	margin-bottom: 2px;
	font-size: 17px;
}
.rowmenu a {
	color: rgb(180, 180, 180);
}
.menu_stats {
	margin-left: 4px;
}

.colstack_right {
	background-color: #333333;
	width: 75%;
	padding-top: 12px;
	padding-right: 24px;
	padding-bottom: 24px;
	padding-left: 24px;
}
.colstack_right .colstack_head {
	margin-bottom: 5px;
}
.colstack_right .colstack_head h1 {
	font-size: 21px;
}
.colstack_right .colstack_item.the_form, .colstack_right .colstack_item:not(.colstack_head):not(.rowhead) .rowitem {
	background-color: #444444;
}
.rowitem {
	display: flex;
}

.colstack_grid {
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(3, 1fr);
}
.grid_item {
	border-radius: 3px;
	color: rgb(190,190,190);
	background-color: #444444;
	padding: 12px;
}

.to_right, .panel_buttons, .panel_floater {
	margin-left: auto;
}

.colstack_right input, .colstack_right select, .colstack_right textarea {
	padding: 4px;
	padding-bottom: 3px;
	padding-left: 6px;
	padding-right: 6px;
}
.colstack_right input {
	padding-left: 6px;
	padding-right: 6px;
}

button, .formbutton, .panel_right_button:not(.has_inner_button), #panel_users .profile_url {
	background: rgb(100,100,200);
}
#panel_users .panel_tag:not(.panel_right_button) {
	background: rgb(50,150,50);
}
.panel_right_button:not(.has_inner_button), #panel_users .panel_tag:not(.panel_right_button), #panel_users .profile_url {
	margin-left: 2px;
	padding: 5px;
	padding-left: 6px;
	padding-right: 6px;
}
#panel_users .panel_tag:not(.panel_right_button), #panel_users .profile_url {
	color: rgb(250,250,250);
    font-size: 15px;
    text-align: center;
	border-radius: 3px;
}
.edit_button:after {
	content: "{{index .Phrases "panel_edit_button_text"}}";
}
.delete_button:after {
	content: "{{index .Phrases "panel_delete_button_text"}}";
}
/*#themeSelector select {
	background: rgb(90,90,90);
    color: rgb(200,200,200);
}*/

.colstack_graph_holder {
	background-color: #444444;
	border-radius: 3px;
	padding: 16px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.colstack_graph_holder .ct-label {
	color: rgb(195,195,195);
	font-size: 13px;
	white-space: nowrap;
}
.colstack_graph_holder .ct-horizontal {
	margin-top: 3px;
}
.colstack_graph_holder .ct-grid {
	stroke: rgb(125,125,125);
}

#panel_setting .formlabel {
	display: none;
}
#panel_setting textarea {
	width: 100%;
	height: 80px;
}

#panel_users .rowitem .to_right {
	order: 0;
	margin-right: auto;
}
#panel_users .rowitem .profile_url {
	order: 1;
}
#panel_users .rowitem .panel_floater {
	order: 2;
	margin-top: 8px;
	margin-right: auto;
}

.panel_submitrow {
	margin-top: 8px;
}
.colstack_right .colstack_item:not(.colstack_head):not(.rowhead).panel_submitrow .rowitem {
	padding-bottom: 14px;
}
.panel_submitrow .rowitem button:first-child {
	margin-left: auto;
}
.panel_submitrow .rowitem button:last-child {
	margin-right: auto;
}

.has_inner_button button {
	margin-right: 8px;
}
#forum_quick_perms .formitem, #forum_quick_perms .panel_floater {
	display: flex;
}

.panel_plugin_meta {
	display: flex;
	flex-direction: column;
}
.panel_plugin_meta br {
	display: none;
}
.panel_plugin_meta small {
	margin-left: 0px !important;
	margin-top: 1px;
}
/* TODO: Switch out this hack for vertically aligning the buttons */
/* margin-top: 10px; */
#panel_plugins .to_right {
	display: flex;
}
#panel_plugins .to_right .panel_right_button {
	margin-top: auto;
	margin-bottom: auto;
}

#panel_debug .grid_stat:not(.grid_stat_head) {
	margin-bottom: 5px;
}