#back {
	width: 100%;
}
.sidebar {
	display: none;
}
.submenu:before {
	content: "-";
}
.submenu a {
	margin-left: 8px;
}
/*.colstack_right .colstack_head .rowitem {
	display: flex;
}*/
.colstack_right .colstack_head h1 + h2.hguide {
	margin-left: auto;
}

.edit_button:before {
	content: "{{lang "panel_edit_button_text" . }}";
}
.delete_button:after {
	content: "{{lang "panel_delete_button_text" . }}";
}

.tag-mini {
	text-transform: none;
	margin-left: 0px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1.5px;
	padding-bottom: 0px;
	color: #505050 !important; /* 80,80,80 */
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	font-size: 10px;
}

.panel_compactrow .panel_tag, .panel_compacttext {
	font-size: 14px;
}
.panel_compactrow {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
}

.panel_upshift {
	font-size: 18px;
	position: relative;
	top: -2px;
}
.panel_compactrow .panel_upshift {
	font-size: 16px;
	position: static;
}
.panel_upshift:visited {
	color: black;
}

.panel_floater, .panel_buttons {
	margin-left: auto;
	float: right;
}
#panel_forums .rowitem {
	display: flex;
}
#panel_forums .panel_floater {
	margin-left: auto;
	margin-top: -2px;
}
#panel_forums .panel_buttons {
	margin-left: 3px;
}
#panel_users .panel_floater {
	margin-left: 2px;
	float: none;
}
#panel_users .panel_tag {
	float: right;
	margin-top: -3px;
}

.panel_rank_tag_admin:before  { content: "👑"; }
.panel_rank_tag_mod:before    { content: "👮"; }
.panel_rank_tag_banned:before { content: "⛓️"; }
.panel_rank_tag_guest:before  { content: "👽"; }
.panel_rank_tag_member:before { content: "👪"; }

.forum_preset_announce:before { content: "📣"; }
.forum_preset_members:before  { content: "👪"; }
.forum_preset_staff:before    { content: "👮"; }
.forum_preset_admins:before   { content: "👑"; }
.forum_preset_archive:before  { content: "☠️"; }
.forum_preset_all, .forum_preset_custom, .forum_preset_ {
	display: none !important;
}
.forum_active_Hide:before {
	content: "🕵️";
}
.forum_active_Show {
	display: none !important;
}
.forum_active_name {
	color: #707070;
}
.builtin_forum_divider {
	border-bottom-style: solid;
}

.perm_preset_no_access:before {
	content: "{{lang "panel_perms_no_access" . }}";
	color: maroon;
}
.perm_preset_read_only:before, .perm_preset_can_post:before {
	color: green;
}
.perm_preset_read_only:before {
	content: "{{lang "panel_perms_read_only" . }}";
}
.perm_preset_can_post:before {
	content: "{{lang "panel_perms_can_post" . }}";
}
.perm_preset_can_moderate:before {
	content: "{{lang "panel_perms_can_moderate" . }}";
	color: darkblue;
}
.perm_preset_quasi_mod:before {
	content: "{{lang "panel_perms_quasi_mod" . }}";
	color: darkblue;
}
.perm_preset_custom:before {
	content: "{{lang "panel_perms_custom" . }}";
	color: black;
}
.perm_preset_default:before {
	content: "{{lang "panel_perms_default" . }}";
}

#panel_dashboard_right .colstack_head {
	display: none;
}

.panel_submitrow {
	margin-top: -12px;
	border-top: none;
}
.panel_submitrow button {
	padding-top: 3px;
	padding-bottom: 3px;
}

#panel_settings .panel_compactrow {
	padding-left: 10px;
}
#panel_word_filters .itemSeparator:before {
	content: " || ";
	padding-left: 2px;
	padding-right: 2px;
}

.ct_chart {
	padding-left: 10px;
    padding-top: 14px;
    padding-bottom: 4px;
    padding-right: 10px;
	margin-bottom: 12px;

	background-color: white;
	border: 1px solid hsl(0,0%,85%);
}
.ct-legend {
	margin-top: 0px;
	margin-bottom: 0px;
}
.spamSelector + .timeRangeSelector {
	margin-left: 8px;
}

#widgetTmpl, .widget_disabled {
	display: none;
}
.bg_red .widget_disabled {
	display: inline;
}
.wtypes .formrow {
	display: none;
}
.wtype_about .w_about, .wtype_simple .w_simple, .wtype_wol .w_wol, .wtype_default .w_default {
	display: block;
}

#panel_themes .rowitem::after {
	content: "";
	display: block;
	clear: both;
}